@using Insurance.Service;
@model InsuranceClaim.Models.ListEndorsementPolicy
@{
    ViewBag.Title = "EndorsementDetail";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}
<div class="productsave-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Endorsement Detail</h2>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                <div class="text-right">
                    <form>
                        <input class="btn btn-primary" type="button" value="Add" onclick="window.location.href='@Url.Action(" Index", "CustomerRegistration" )'" />
                    </form>
                </div>
                </div*@
        </div>
       
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="text-left">
                    @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Endorsement Search" })
                </div>
            </div>

            <div class="col-sm-3 col-md-3">

            </div>

        </div>

        @*@using (Html.BeginForm("SearchMyPolicy", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                <div class="row">
                    <div class="col-md-12 next-btn">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="text-left">
                                    @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Policy Number / Customer Name" })
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-3">

                            </div>
                        </div>
                    </div>
                </div>
            }*@



        <br />
        <br />
        <div class="policy-table-grid-main">
            <table class="table table-striped">

                <tbody>

                    @if (Model != null)
                    {
                        if (Model.listendorsementpolicy.Count == 0)
                        {
                            <label>No Policies Found</label>
                        }
                    }

                    <tr class="policyheading-tr">
                        <th>Endorsement No</th>
                        <th>Policy Number</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Payment Method</th>
                        <th>Currency</th>
                        <th>Total Sum Insured</th>
                        <th>Total Premium</th>
                        <th>Created On</th>
                        <th class="thwidth100">Action(s)</th>

                    </tr>
                    @{ int rowNo = 0; }
                    @foreach (var item in Model.listendorsementpolicy.ToList())
                    {
                        <tr class="policynumber-tr">
                            <td>@item.PolicyNumber-@(rowNo += 1)</td>
                            <td>@item.PolicyNumber</td>
                            <td>@item.CustomerName</td>
                            <td>@item.CustomerEmail
                            <td>@MiscellaneousService.GetPaymentMethodNamebyID(item.PaymentMethodId)</td>
                            <td>@item.Currency</td>
                            <td>@item.TotalSumInsured</td>
                            <td>@item.TotalPremium</td>
                            
                            <td>@item.createdOn.ToString("dd-MMM-yyyy")</td>
                            <td>
                                <div class="tbl-btn-list">
                                    <ul class="list-inline">
                                        @*
                                            <li>@Html.ActionLink("View Policy", "RiskDetail", "Account", new { id = item.SummaryId }, new { @class = "btn-sm btn-primary" })</li>*@

                                        <li>@Html.ActionLink("View Endorsement Policy", "ViewEndorsementCustomer", "Endorsement", new { id = item.EndorsementSummaryId }, new { @class = "btn-sm btn-primary" })</li>


                                        @*@foreach (var _item in item.Vehicles)
                                            {
                                                if (DateTime.Now >= _item.RenewalDate && DateTime.Now >= _item.RenewalDate.AddDays(-21))
                                                {
                                                    <li>@Html.ActionLink("Renew Policy", "RiskDetail", "Account", new { id = item.PolicyNumber }, new { @class = "btn-sm btn-primary" })</li>

                                                    break;
                                                }
                                            }

                                            @if (User.IsInRole("Staff") || User.IsInRole("Administrator"))
                                            {
                                                <li><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicy(@item.SummaryId)">Resend Policy </a> </li>
                                            }


                                            @if (User.IsInRole("Administrator"))
                                            {
                                                <li>@Html.ActionLink("Endorsement", "EndorsementDetials", "Account", new { sumaryid = item.SummaryId }, new { @class = "btn-sm btn-primary" })</li>

                                            }*@

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        @*
                            <tr>
                                <td colspan="7">
                                    <table class="policy-table-grid policyList" style="width:100%">
                                        <tr>
                                            <th>Vehicle</th>
                                            <th>Sum Insured</th>
                                            <th>Auto-Fac Sum Insured</th>
                                            <th>AutoFac Premium</th>
                                            <th>Fac Sum Insured</th>
                                            <th>Fac Premium</th>
                                            <th>Reinsurance Broker Commission</th>
                                            <th>Facultative Commission</th>
                                            <th>Status</th>
                                            <th>Actions(s)</th>
                                        </tr>
                                        @foreach (var _item in item.Vehicles)
                                        {
                                        <tr>
                                            <td>@MiscellaneousService.GetMakeNamebyMakeCode(_item.MakeId)/@MiscellaneousService.GetModelNamebyModelCode(_item.ModelId)</td>
                                            <td>$@_item.SumInsured</td>
                                            <td>$@_item.AutoFacReinsuranceAmount</td>
                                            <td>$@_item.AutoFacPremium</td>
                                            <td>$@_item.FacReinsuranceAmount</td>
                                            <td>$@_item.FacPremium</td>
                                            <td>$@_item.BrokerCommission</td>
                                            <td>$@_item.FacultativeCommission</td>


                                            @if (_item.isLapsed)
                                            {
                                            <td>Lapsed</td>
                                            <td></td>
                                            }
                                            else if (!_item.isActive)
                                            {
                                            <td>Disabled</td>
                                            <td><button type="button" class="btn-sm btn-primary" onclick="javascript:confirm('In Progress !!');">Pay To Activate</button></td>
                                            }
                                            else if (DateTime.Now < _item.RenewalDate.AddDays(-21))
                                            {
                                            <td>In Force</td>

                                            if (_item.BalanceAmount > 0.00m)
                                            {
                                            <td><button type="button" class="btn-sm btn-danger" onclick="javascript: alert('Your Balance Amount is : $ @_item.BalanceAmount');">Pay Balance Amount</button><br /><br /><button type="button" class="btn-sm btn-primary" onclick="showPopuppDocument('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId')">View/Upload Document</button></td>
                                            }
                                            else
                                            {
                                            <td><button type="button" class="btn-sm btn-primary" onclick="showPopuppDocument('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId')">View/Upload Document</button></td>
                                            }

                                            }
                                            else if (DateTime.Now >= _item.RenewalDate.AddDays(-21) && DateTime.Now <= _item.RenewalDate)
                                            {
                                            <td>Renew</td>
                                            <td>@Html.ActionLink("Pay Premium", "RiskDetail", "Renew", new { id = _item.VehicleId }, new { @class = "btn-sm btn-danger", @style = "    width: 100%;    float: left;    text-align: center;" })<br /><br /><button type="button" class="btn-sm btn-primary" onclick="showPopuppDocument('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId')">View/Upload Document</button></td>

                                            }
                                            else if (DateTime.Now > _item.RenewalDate && _item.isLapsed != true)
                                            {
                                            <td>Lapsed</td>
                                            <td>@Html.ActionLink("Renew", "RiskDetail", "Renew", new { id = _item.VehicleId }, new { @class = "btn-sm btn-danger", @style = "    width: 100%;    float: left;    text-align: center;" })</td>
                                            }

                                        </tr>

                                    </table>
                                </td>
                            </tr>*@
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
<script>

    $(document).ready(function () {
        $("#searchText").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table>tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>
