

@using Insurance.Service;
@model InsuranceClaim.Models.IceCashModel

@{
    ViewBag.Title = "IceCash Payment";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

    @*<link rel="stylesheet" type="text/css" href="/css/payment_gateway.css" />*@
    <link rel="stylesheet" type="text/css" href="http://test.api.ice.cash/css/payment_gateway.css" />
    @*<script type="text/javascript" src="/js/../assets/js/jquery-3.2.1.min.js"></script>*@
    <script type="text/javascript" src="http://test.api.ice.cash/assets/js/jquery-3.2.1.min.js"></script>

    @*<script type="text/javascript" src="/js/../assets/js/jquery.blockUI.2.7.js"></script>*@

    <script type="text/javascript" src="http://test.api.ice.cash/assets/js/jquery.blockUI.2.7.js"></script>


<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>IceCash Payment</h4>
                        </div>

                        <div class="form-group-input">
                            @*@using (Ajax.BeginForm("SaveCustomerData", "CustomerRegistration", new AjaxOptions { UpdateTargetId = "CustomerResult", OnSuccess = "GoToProductDetail" }))*@
                            <form method="post" id="checkout-form" action="@ViewBag.IceCashRequestUrl" class="form-horizontal">
                                <input id="hddebug" type="text" style="display:none" name="hddebug" value="0" />
                              
                                <div class="row">

                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("ParterRef", new { @class = "gender-label" })
                                        </div>
                                    </div>

                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="partner_id" value="@Model.partner_id" />
                                        </div>
                                    </div>

                                </div>
                                
                               
                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("Amount", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="amount" value="2" />
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("client_reference", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="client_reference" value="@Model.client_reference" />
                                        </div>
                                    </div>
                                </div>

                              
                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("success_url", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="success_url" value="@Model.success_url" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("failed_url", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="failed_url" value="@Model.failed_url">
                                        </div>
                                    </div>
                                </div>
                                
                             
                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("results_url", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="results_url" value="@Model.results_url" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("details", new { @class = "gender-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="results_url" value="@Model.details" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    
                                    <div class="col-md-4 form-group-text">
                                        <div class="form-group">
                                            @Html.Label("check_hash", new { @class = "gender-label" })
                                        </div>
                                    </div>

                                    <div class="col-md-8 form-group-text">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="encoded_html" value="@Model.check_hash" />
                                        </div>
                                    </div>

                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-12 next-btn">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="text-left">
                                                    <div class="back-left"><button type="button" onclick="gotoPeriviouse()" class="btn">Back</button></div>
                                                    <a style="display:none" id="previouselink" href="/CustomerRegistration/SummaryDetail" class="back"></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="text-right">
                                                    <button id="btnSubmit" type="button" style="font-size:20px;" class="btn-primary">Pay</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





<script type="text/javascript" src="http://test.api.ice.cash/assets/js/jquery.mask-1.7.7.js"></script>
<script type="text/javascript" src="http://test.api.ice.cash/assets/js/validator.js"></script>


<script type="text/javascript">


    $(document).ready(function () {


        $('#btnSubmit').click(function () {
            $('#checkout-form').submit();
        });

        $('#btnDebug').click(function () {
            $('#hddebug').val('1');
            $('#checkout-form').submit();
        });



    });

    function gotoPeriviouse() {
        $("#previouselink")[0].click();

    }

</script>











































