@*@model List<Insurance.Domain.ClaimNotification>*@
@model  List<InsuranceClaim.Models.ClaimNotificationModel>
@{
    ViewBag.Title = "ClaimantList";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


<div class="productsave-section">
    <div class="container-fluid">
        @{
            var menutab = Html.Partial("ClaimRegister");
        }
        @menutab
       
         <div class="row">
            <div class="claims-list-section">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top-claim">
                    <div class="head-title">
                        <h2>CLAIMS NOTIFICATION</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                    <div class="text-right">
                        <form>
                            <input class="btn btn-primary" type="button" value="Add" onclick="window.location.href='@Url.Action("SaveClaimant", "Claimant")'" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 next-btn">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="text-left">
                            @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "VRN Number / Customer Name" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @using (Html.BeginForm("EditClaimant", "Claimant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="product-table-grid claimant-list-grid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Policy Number</th>
                            <th>Dates</th>
                            <th>Place Of Loss</th>
                            <th>Customer Name</th>
                            <th>Description Of Loss</th>
                            <th>Currency</th>
                            <th>Esti Val Of Loss</th>
                            <th>Claimant Name</th>
                            <th>Registration No</th>
                            <th>Third Party Involv</th>
                            <th>Third Party Involv Details</th>
                            <th class="thwidth200">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            if (item.IsExists == true)
                            {
                                <tr>
                                    <td>@item.PolicyNumber</td>

                                    <td>
                                    <table>
                                        <tr>
                                            <td><b>Date Of Loss:</b><br />@item.DateOfLoss.ToShortDateString().ToString()<br /></td>
                                        </tr>
                                        <tr>
                                            <td><b>Cover Start Date:</b><br />@item.CoverStartDate.ToShortDateString().ToString()<br /></td>
                                        </tr>
                                        <tr>
                                        <td><b>Cover End Date:</b><br />@item.CoverEndDate.ToShortDateString().ToString()<br /></td>
                                        </tr>
                                    </table>
                                    </td>
                                    <td>@item.PlaceOfLoss</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.DescriptionOfLoss</td>
                                    <td>@item.Currency</td>
                                    <td>@item.EstimatedValueOfLoss</td>
                                    <td>@item.ClaimantName</td>
                                   <td>@item.RegistrationNo</td>
                                    <td>@item.ThirdPartyInvolvement</td>
                                  
                                    <td>
                                        <table>
                                            <tr>
                                                <td><b>Third Party Name:</b><br />@item.ThirdPartyName<br /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Contact Detail:</b><br />@item.ThirdPartyContactDetails<br /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Make :</b><br />@item.ThirdPartyMakeId<br /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Model :</b><br />@item.ThirdPartyModelId<br /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Third Party Estimat Val  :</b><br />@item.ThirdPartyEstimatedValueOfLoss<br /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Third Party Damage Val : </b><br />@item.ThirdPartyDamageValue<br /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    
                                    <td>
                                        <div class="tbl-btn-list">
                                            <ul class="list-inline">
                                                <li>@Html.ActionLink("Register Claim", "SaveUpdatedata", new { PolicyNumber = item.PolicyNumber, id = item.Id }, new { @class = "btn-sm btn-primary" })</li>
                                                @*<li>@Html.ActionLink("Edit", "EditClaimant", new { id = item.Id }, new { @class = "btn-sm btn-primary" })</li>*@
                                                <li><button type="button" class="btn-sm btn-danger" onclick="ShowPopup('@item.Id')">Delete</button></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="highlights-bg">
                                    <td>@item.PolicyNumber</td>

                                    <td>@item.DateOfLoss.ToShortDateString().ToString()</td>
                                    <td>@item.PlaceOfLoss</td>
                                    <td>@item.DescriptionOfLoss</td>
                                    <td>@item.EstimatedValueOfLoss</td>
                                    <td>

                                        @if (item.ThirdPartyInvolvement == true)
                                        {
                                            <b>Yes</b>
                                        }
                                        else if (item.ThirdPartyInvolvement == false)
                                        {
                                            <b>No</b>
                                        }

                                    </td>
                                    <td>@item.ClaimantName</td>
                                    <td>
                                        <div class="tbl-btn-list">
                                            <ul class="list-inline">
                                                @if (item.IsExists == false)
                                                {
                                                    <li>@Html.ActionLink("Register Claim", "SaveUpdatedata", new { PolicyNumber = item.PolicyNumber, id = item.Id }, new { @class = "btn-sm btn-primary", @style = "display :none" })</li>
                                                }

                                                @*<li>@Html.ActionLink("Edit", "EditClaimant", new { id = item.Id }, new { @class = "btn-sm btn-primary" })</li>*@
                                                <li><button type="button" class="btn-sm btn-danger" onclick="ShowPopup('@item.Id')">Delete</button></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }



                        @*@foreach (Insurance.Domain.ClaimNotification item in Model)
                            {
                                <tr>
                                    <td>@item.PolicyNumber</td>
                                    <td>@item.DateOfLoss.ToShortDateString().ToString()</td>
                                    <td>@item.PlaceOfLoss</td>
                                    <td>@item.DescriptionOfLoss</td>
                                    <td>@item.EstimatedValueOfLoss</td>
                                    <td>@item.ThirdPartyInvolvement</td>
                                    <td>
                                        <div class="tbl-btn-list">
                                            <ul class="list-inline">


                                                <li>@Html.ActionLink("Register Claim", "SaveUpdatedata", new { PolicyNumber = item.PolicyNumber, id = item.Id }, new { @class = "btn-sm btn-primary" })</li>
                                                <li>@Html.ActionLink("Edit", "EditClaimant", new { id = item.Id }, new { @class = "btn-sm btn-primary" })</li>
                                                <li><button type="button" class="btn-sm btn-danger" onclick="ShowPopup('@item.Id')">Delete</button></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="mymodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="text-align: center;color: #00bcea;font-weight: bold;">Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="ConfirmDelete();">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<script>

    let ClaimantId;
    function ShowPopup(Id) {
        $("#mymodal").modal("show");
        ClaimantId = Id;
    }
    function ConfirmDelete() {
        debugger;
        var url = "@Url.Action("DeleteClaimant", "Claimant", new { Id =12012 })";
        var newurl = url.replace("12012", ClaimantId);
        window.location.href = newurl;
    }


    function GetPolicyDetail() {
        debugger;
        var PolicyNumber = $("#txtPolicyNumber").val();
        $.ajax({
            url: "@Url.Action("GetClaimDetails", "Claimant")",
            type: "POST",
            data: { PolicyNumber: PolicyNumber },
            dataType: "json",
            success: function (result) {
                debugger;
                var StartDate = "";
                var EndDate = "";
                var Policydates = "";
                var CustomerId = "";
                var FirstName = "";
                var LastName = "";
                var NameofInsured = "";
                var DateOfLoss = "";
                var PlaceOfLoss = "";
                var DescriptionOfLoss = "";
                var EstimatedValueOfLoss = "";
                var ThirdPartyDamageValue = "";
                var DateOfNotifications = "";

                if (result.FirstName != "" && result.LastName != "") {
                    NameofInsured = FirstName + " " + LastName;
                }
                else {
                    NameofInsured = "";
                }

                Policydates = StartDate + "-" + EndDate;
                DateOfLoss = result.DateOfLoss;
                DateOfNotifications = result.DateOfNotifications;
                PlaceOfLoss = result.PlaceOfLoss;
                DescriptionOfLoss = result.DescriptionOfLoss;
                EstimatedValueOfLoss = result.EstimatedValueOfLoss;
                ThirdPartyDamageValue = result.ThirdPartyDamageValue; //need to verify

                $("#txtNameOfInsured").val(NameofInsured);
                $("#txtPolicyDates").val(Policydates);
                $("#txtDateOfLoss").val(DateOfLoss);
                $("#txtDateOfNotifications").val(DateOfNotifications);
                $("#txtPlaceOfLoss").val(PlaceOfLoss);
                $("#txtDescriptionOfLoss").val(DescriptionOfLoss);
                $("#txtEstimatedValueOfLoss").val(EstimatedValueOfLoss);
                $("#txtThirdPartyDamageValue").val(ThirdPartyDamageValue);
            }
        });
    }

    $(document).ready(function () {
        $("#searchText").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table>tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });



</script>