@model InsuranceClaim.Models.ClaimSettingModel
@{
    ViewBag.Title = "ClaimSetting";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Add Claim Setting</h4>
                        </div>
                        <div class="form-group-input">
                            @*@using (Ajax.BeginForm("SaveCustomerData", "CustomerRegistration", new AjaxOptions { UpdateTargetId = "CustomerResult", OnSuccess = "GoToProductDetail" }))*@
                            @using (Html.BeginForm("SaveSetting", "Claimant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.HiddenFor(x => x.Id)

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.KeyName, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.KeyName, new { @class = "form-control", @name = "keyname", @autocomplete = "off", @id = "keyname", @placeholder = "Enter key Name" })
                                            @Html.ValidationMessageFor(x => x.KeyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Value, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.Value, new { @class = "form-control", @name = "value", @autocomplete = "off", @id = "value", @placeholder = "Enter Value" })
                                            @Html.ValidationMessageFor(x => x.Value, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-select">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Valuetype, new { @class = "gender-label" })
                                            @Html.DropDownListFor(x => x.Valuetype, ViewBag.eSettingValueTypes as SelectList, "Select Value Type", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Valuetype, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 form-group-select">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.VehicleType, new { @class = "gender-label" })
                                            @Html.DropDownListFor(x => x.VehicleType, ViewBag.eSettingValueType as SelectList, "Select Vehicle Type", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.VehicleType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                @*<input type="submit"  class="btn btn-primary"name="Save"/>*@
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("ClaimSettingList","Claimant")'">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
