@model InsuranceClaim.Models.WebCustomerModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<!-- <h2>Index</h2> -->
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Get Car Insurance In Less<br>Than 5 Minutes<h2>
        </div>
    </div>
</div>

<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row-bs-wizard">

                @using (Html.BeginForm("SubmitPlan", "WebCustomer", FormMethod.Post, new { id = "signupform" }))
                {
                    <div class="form-group-section">

                        <div class="form-group-input">
                            <div id="contact-form" class="contact-form">

                                <div id="errorDiv" class="alert alert-danger" role="alert" style="display:none; ">
                                    <span id="errorMsg"></span>
                                </div>

                                <div id="riskdetial">

                                    <div class="alert alert-success alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>  PLEASE NOTE DELIVERY IS ONLY DONE IN HARARE.</strong>
                                    </div>


                                    <div class="form-top-head">
                                        <h4>Vehicle Details </h4>
                                    </div>

                                    <div class="form-top-head-in">
                                        <div class="row">
                                            <div class="col-md-12">
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    @Html.HiddenFor(m => m.RiskDetail.RegistrationNo)
                                                    @Html.HiddenFor(m => m.Customer.NationalIdentificationNumber)

                                                    @Html.Hidden("isVehicleRegisteredonICEcash")
                                                    @Html.Hidden("basicPremiumICEcash")
                                                    @Html.Hidden("stampDutyICEcash")
                                                    @Html.Hidden("LevyICEcash")

                                                    @Html.HiddenFor(m => m.RiskDetail.InsuranceId)
                                                    @Html.HiddenFor(m => m.RiskDetail.LicenseId)
                                                    @Html.HiddenFor(m => m.RiskDetail.LicExpiryDate)
                                                    @Html.HiddenFor(m => m.RiskDetail.CombinedID)
                                                    @Html.HiddenFor(m => m.RiskDetail.CoverTypeId)

                                                    @Html.HiddenFor(m => m.RiskDetail.VehicleYear)
                                                    @Html.HiddenFor(m => m.RiskDetail.ArrearsAmt)

                                                    @Html.HiddenFor(m => m.RiskDetail.LicenseAddress1)
                                                    @Html.HiddenFor(m => m.RiskDetail.LicenseAddress2)
                                                    @Html.HiddenFor(m => m.RiskDetail.LicenseCity)
                                                    @Html.HiddenFor(m => m.RiskDetail.LicenseDeliveryWay)

                                                    <div class="form-group-lbls">
                                                        @Html.Label("Select your cover type", new { @class = "gender-label" })
                                                    </div>
                                                    <div class="form-radio-lbls radio-txt-shadow">
                                                        <label>@Html.RadioButtonFor(m => m.RiskDetail.CoverTypeName, "Third Party", new { onclick = "ShowHideSumInsured()" }) Third Party</label>
                                                        <label>@Html.RadioButtonFor(m => m.RiskDetail.CoverTypeName, "Comprehensive", new { onclick = "ShowHideSumInsured()" }) Comprehensive</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6 form-group-select">
                                                <div class="form-group">
                                                    @Html.Label("Product", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.RiskDetail.ProductId, new SelectList(ViewBag.Products, "Id", "ProductName"), "Select Product Type", new { @class = "form-control", onchange = "GetVehicleUsage();" })
                                                    @Html.ValidationMessageFor(x => x.RiskDetail.ProductId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6 form-group-select">
                                                <div class="form-group">
                                                    @Html.Label("Vehicle Usage", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.RiskDetail.VehicleUsage, new SelectList(ViewBag.VehicleUsage, "Id", "VehUsage"), "Select Vehicle Usage", new { @class = "form-control" })
                                                </div>
                                            </div>


                                            <div class="col-xs-6 col-md-6 form-group-select">
                                                <div class="form-group">
                                                    @Html.Label("Insurance Payment Term", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(m => m.RiskDetail.PaymentTermId, new SelectList(ViewBag.PaymentTermId, "Id", "Name"), "Select Payment Term", new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="col-xs-6 col-md-6 form-group-text" id="divSumInsured" style="display:none;">
                                                <div class="form-group">
                                                    @Html.Label("SumInsured", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.SumInsured, new { @class = "form-control", @autocomplete = "off", @placeholder = "SumInsured" })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group-lbls font-size-15">
                                                    @Html.Label("Do you want Zinara License", new { @class = "gender-label" })
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-checkbox-lbls" style="margin-bottom: 10px;">
                                                            <label id="thirdpartycheck">@Html.CheckBoxFor(x => x.RiskDetail.IncludeRadioLicenseCost, new { }) Radio License</label>
                                                        </div>
                                                        <div class="form-group form-group-select">
                                                            @Html.Label("Radio License Payment", new { @class = "gender-label" })
                                                            @Html.DropDownListFor(x => x.RiskDetail.RadioLicensePaymentTermId, new SelectList(ViewBag.PaymentTermId, "Id", "Name"), "Select Payment Term", new { @class = "form-control" })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-checkbox-lbls" style="margin-bottom: 10px;">
                                                            <label id="thirdpartycheck">
                                                                @Html.CheckBoxFor(x => x.RiskDetail.IncludeLicenseFee, new { }) Zinara Vehicle License
                                                            </label>
                                                        </div>

                                                        <div class="form-group form-group-select">
                                                            @Html.Label("Zinara License Payment Term", new { @class = "gender-label" })
                                                            @Html.DropDownListFor(x => x.RiskDetail.ZinaraLicensePaymentTermId, new SelectList(ViewBag.PaymentTermId, "Id", "Name"), "Select Payment Term", new { @class = "form-control" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="next-btn">
                                            <ul class="list-inline">
                                                <li class="text-left"><button type="button" name="buttonUpdate" value="Update" class="btn btn-default">Back</button></li>
                                                <li class="pull-right"><button type="button" onclick="DisplayPresoanlDetails();" class="btn">Next</button></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div id="presonal_detail" style="display:none">
                                    <div class="form-top-head">
                                        <h4>Customer Detials</h4>
                                    </div>

                                    <div class="form-top-head-in">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Name", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control", @autocomplete = "off", @placeholder = "FirstName" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Surname", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control", @autocomplete = "off", @placeholder = "Surname" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Email", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Customer.EmailAddress, new { @class = "form-control", @autocomplete = "off", @placeholder = "Email" })


                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("DOB", new { @class = "gender-label" })
                                                    @*@Html.TextBoxFor(m => m.Customer.DateOfBirth, new { @class = "form-control", @autocomplete = "off", @placeholder = "DateOfBirth" })*@


                                                    <div class='input-group' id='datetimepicker1'>
                                                        @Html.TextBoxFor(x => x.Customer.DateOfBirth, new { @class = "form-control", @autocomplete = "off", @placeholder = "DOB" })

                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Phone", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "PhoneNumber" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.Customer.Gender, new { @class = "gender-label" })
                                                    <div class="form-group-label" style="height: 50px; padding: 6px 0 0;">
                                                        <label>@Html.RadioButtonFor(model => model.Customer.Gender, "Male", true)<span class="outside"><span class="inside"></span></span><strong>Male</strong></label>
                                                        <label>@Html.RadioButtonFor(model => model.Customer.Gender, "Female", true)<span class="outside"><span class="inside"></span></span><strong>Female</strong></label>
                                                    </div>
                                                    @Html.ValidationMessageFor(x => x.Customer.Gender, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group form-group-select">
                                                    @Html.LabelFor(x => x.Customer.City, new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.Customer.City, new SelectList(ViewBag.Cities, "CityName", "CityName"), "----Select City----", new { @class = "form-control " })
                                                    @Html.ValidationMessageFor(x => x.Customer.City, "", new { @class = "text-danger valMessage" })
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.Customer.AddressLine1, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(x => x.Customer.AddressLine1, new { @class = "form-control", @name = "AddressLine1", @autocomplete = "off", @id = "AddressLine1", @placeholder = "Address" })
                                                    @Html.ValidationMessageFor(x => x.Customer.AddressLine1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.Customer.AddressLine2, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(x => x.Customer.AddressLine2, new { @class = "form-control", @name = "AddressLine2", @autocomplete = "off", @id = "AddressLine2", @placeholder = "Surburb" })
                                                    @Html.ValidationMessageFor(x => x.Customer.AddressLine2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>



                                        </div>

                                        <div class="next-btn">
                                            <ul class="list-inline">
                                                <li class="text-left"><button type="button" class="btn btn-default" onclick="BackToRiskDetail();" value="Update" class="btn">Back</button></li>
                                                <li class="pull-right"><button type="button" onclick="DisplayVehicleDetial();" class="btn">Next</button></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                                <div id="vehicledetials" style="display:none">

                                    <div class="form-top-head">
                                        <h4>Risk Detail</h4>
                                    </div>

                                    <div class="form-top-head-in">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group form-group-select">
                                                    @Html.Label("Make", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.RiskDetail.MakeId, new SelectList(ViewBag.Makers, "MakeCode", "MakeDescription"), "Select Vehicle Make", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.RiskDetail.MakeId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group form-group-select">
                                                    @Html.Label("Model", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.RiskDetail.ModelId, new SelectList(ViewBag.Model, "ModelCode", "ModelDescription"), "Select Vehicle Model", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.RiskDetail.ModelId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-select">
                                                <div class="form-group">
                                                    @Html.Label("TaxClass", new { @class = "gender-label" })
                                                    @Html.DropDownListFor(x => x.RiskDetail.TaxClassId, new SelectList(ViewBag.TaxClass, "TaxClassId", "Description"), "Select Tax Class", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.RiskDetail.TaxClassId, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(x => x.RiskDetail.ErrorMessage)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="next-btn">
                                            <ul class="list-inline">
                                                <li class="text-left"><button type="button" class="btn btn-default" onclick="BackToCustomerDetail();" value="Update" class="btn">Back</button></li>
                                                <li class="pull-right"><button type="button" onclick="DisplaySummaryDetail();" class="btn">Next</button></li>
                                            </ul>
                                        </div>

                                    </div>


                                </div>

                                <div id="Summary_detail" style="display:none">
                                    <div class="form-top-head">
                                        <h4>Payment Details</h4>
                                    </div>

                                    <div class="form-top-head-in">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 form-group-text">
                                                <div class="insur-bx-labl">
                                                    <label>Insurance Premium</label>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Basic Premium", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.Premium, new { @class = "form-control", @autocomplete = "off", @placeholder = "Basic Premium", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.RiskDetail.PremiumWithDiscount, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Total Stamp Duty", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.StampDuty, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Total ZTSCLevy", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.ZTSCLevy, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Discount", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.Discount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Discount", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(m => m.RiskDetail.Discount, "", new { @class = "text-danger" })
                                                </div>



                                            </div>

                                            <div class="col-xs-12 col-md-6 form-group-text">
                                                <div class="insur-bx-labl">
                                                    <label>License Amount</label>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Zinara Amount", new { @class = "gender-label" })
                                                    @Html.HiddenFor(m => m.RiskDetail.VehicleLicenceFee, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.VehicleLicenceFee, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Penalites", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.PenaltiesAmt, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Radio License", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RiskDetail.RadioLicenseCost, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(m => m.RiskDetail.RadioLicenseCost, "", new { @class = "text-danger" })
                                                </div>
                                            </div>




                                            <div class="form-group-checkbx-b">
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <div class="form-group" style="padding:0">

                                                        <div class="form-group-label" style="height: 50px; padding: 6px 0 0;">
                                                            <label>@Html.RadioButtonFor(model => model.RiskDetail.IsLicenseDiskNeeded, "Want the licence disk to be delivered?", new { @class = "IsLicenseDiskNeeded" })<span class="outside"><span class="inside"></span></span><strong>Want the licence disk to be delivered?</strong></label>

                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <div class="form-group" style="padding:0">

                                                        <div class="form-group-label" style="height: 50px; padding: 6px 0 0;">
                                                            <label>@Html.RadioButtonFor(model => model.RiskDetail.IsLicenseDiskNeeded, "Client self collect", new { @class = "ShowSelfCollect" })<span class="outside"><span class="inside"></span></span><strong>Client self collect</strong></label>

                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                   <div class="form-group" style="padding:0">

                                                        <div class="form-group-label" style="height: 50px; padding: 6px 0 0;">
                                                            <label>@Html.RadioButtonFor(model => model.RiskDetail.IsLicenseDiskNeeded, "Do you want to collect on Alm", new { @class = "ShowGoogleMap", onclick = "ShowGoogleMap();" })<span class="outside"><span class="inside"></span></span><strong>Do you want to collect on Alm</strong></label>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    @Html.Label("Payment Type", new { @class = "gender-label" })
                                                    <ul class="list-inline payent-card-bx">
                                                        <li id="payment_3" class="payment_type active" payment="PayNow" onclick="PaymentMethod(3)"><img style="width:85px;" src="~/Images/Paynow-logo.png" /></li>
                                                        @*<li id="payment_2" class="payment_type" payment="EcoCash" onclick="PaymentMethod(2)"> <img width="75px;" src="~/Images/ecocash.jpg" />   </li>*@

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-8 form-group-text">
                                                <div class="form-group font-18">
                                                    @Html.Label("Total Amount", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.SummaryDetail.TotalPremium, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.SummaryDetail.PaymentMethodId)
                                                </div>
                                            </div>

                                        </div>

                                        <div class="next-btn">
                                            <ul class="list-inline">
                                                <li class="text-left"><button type="button" class="btn btn-default" onclick="BackToVehicleDetail();" value="Update" class="btn">Back</button></li>
                                                <li class="pull-right"><button type="button" id="btnSignup" class="btn">Next</button></li>
                                            </ul>
                                        </div>


                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>


                }


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myAddressModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">License Delivery Address</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="licenseDeliveryForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="inputaddress1">Address1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="inputaddress1" placeholder="Address1" name="LicenseAddress1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="inputaddress2">Address2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="inputaddress2" placeholder="Address2" name="LicenseAddress2" />
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label"
                               for="inputcity">City</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputcity" name="LicenseCity">
                                <option value="">----Select City----</option>
                                <option value="Harare">Harare</option>
                                <option value="Bulawayo">Bulawayo</option>
                                <option selected="selected" value="Chitungwiza">Chitungwiza</option>
                                <option value="Mutare">Mutare</option>
                                <option value="Epworth">Epworth</option>
                                <option value="Gweru">Gweru</option>
                                <option value="Kwekwe">Kwekwe</option>
                                <option value="Kadoma">Kadoma</option>
                                <option value="Masvingo">Masvingo</option>
                                <option value="Chinhoyi">Chinhoyi</option>
                                <option value="Norton">Norton</option>
                                <option value="Marondera">Marondera</option>
                                <option value="Ruwa">Ruwa</option>
                                <option value="Chegutu">Chegutu</option>
                                <option value="Zvishavane">Zvishavane</option>
                                <option value="Bindura">Bindura</option>
                                <option value="Beitbridge">Beitbridge</option>
                                <option value="Redcliff">Redcliff</option>
                                <option value="Victoria Falls">Victoria Falls</option>
                                <option value="Rusape">Rusape</option>
                                <option value="Chiredzi">Chiredzi</option>
                                <option value="Kariba">Kariba</option>
                                <option value="Karoi">Karoi</option>
                                <option value="Chipinge">Chipinge</option>
                                <option value="Gokwe">Gokwe</option>
                                <option value="Shurugwi">Shurugwi</option>
                                <option value="Gwanda">Gwanda</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputcheckbox" /> Same As Permanent Address
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="submit" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modelGoogleMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Google Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map"></div>
            </div>

        </div>
    </div>
</div>




<script src="~/Scripts/WebCustomer.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8k7mxHV3-Md1VyrQluTgygCpkf2HrY7c&callback=initMap">
</script>

<script src="~/Scripts/googleMap.js"></script>



<script type="text/javascript">

    $(document).ready(function () { // will trigger when the document is ready
        $('#datetimepicker1').datetimepicker({
            format: 'MM/D/YYYY',
            maxDate: new Date()
        });

        $("#SummaryDetail_PaymentMethodId").val(3);

        $(function () {
            $("#btnSignup").click(function (e) {

                debugger;

                var paymentMethod = $("#SummaryDetail_PaymentMethodId").val();
                var paymentMethodName = "PayNow";
                if (paymentMethod == 2) {
                    paymentMethodName = "EcoCash";
                }

                var isConfirm = confirm("Do you want make payment from " + paymentMethodName + " ?");

                if (isConfirm) {
                    $(".loading-area").show();
                    $("#signupform").submit();
                } else {

                }
            });
        });

    });


    function PaymentMethod(paymentMethod) {
        $("#SummaryDetail_PaymentMethodId").val(paymentMethod)

        $("li").removeClass("active");
        $("#payment_" + paymentMethod).addClass("active");
    }

    function GetVehicleUsage() {
        $.ajax({
            url: "/CustomerRegistration/GetVehicleUsage",
            type: "POST",
            data: { ProductId: $("#RiskDetail_ProductId").val() },
            dataType: "json",
            success: function (result) {
                var $dropdown = $("#RiskDetail_VehicleUsage");
                $dropdown.empty();
                $.each(result, function () {
                    $dropdown.append($("<option />").val(this.Id).text(this.VehUsage));
                });
            }
        });
    }

</script>


