@model InsuranceClaim.Models.DomesticSummaryModel

@{
    ViewBag.Title = "SummaryDetail";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    var vehicleList = (List<InsuranceClaim.Models.DomesticRiskDetailModel>)Session["VehicleDetails"];

    var customerDetail = (InsuranceClaim.Models.CustomerModel)Session["CustomerDataModal"];
    bool userLoggedin = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

    var isUserStaff = false;
    if ((User.Identity.IsAuthenticated && User.IsInRole("Staff")))
    {
        isUserStaff = true;
    }
    var sucessalert = TempData["SucessMsg"];
    var errMsg = TempData["ErroMsg"];

    var checkIsCustomer = false;
    var ClassForHide = "";
}

<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Get Car Insurance In Less<br>Than 5 Minutes</h2>
        </div>
    </div>
</div>


<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row bs-wizard">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="Process-step-section process-block">
                        <div class="col-sm-12 bs-wizard-step complete">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Client Details</div>
                        </div>


                        <div class="col-sm-12 bs-wizard-step active">
                            <!-- complete -->
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Risk Details</div>
                        </div>

                        <div class="col-sm-12 bs-wizard-step disabled">
                            <!-- active -->
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Summary Details</div>
                        </div>

                        <div class="col-sm-12 bs-wizard-step disabled">
                            <!-- active -->

                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Payment Details</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>CORPORATE SUMMARY DETAILS</h4>
                            <br />
                            @if (Model.Error != "")
                            {
                                <label style="font-size:15px; font-weight:bold; color:red; ">@Model.Error</label>
                                <br />
                            }
                            <span> Corporate Name: <b>@customerDetail.CompanyName  </b>,  Email: <b>@customerDetail.CompanyEmail </b>  </span>
                        </div>
                        <div class="choose-plan">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 choose-plan-heading">
                                    <h4>Your plan</h4>
                                </div>
                                @if (Model.PaymentTermId == 1)
                                {
                                    <div class="col-sm-3 col-md-3 choose-plan-blocl">
                                        <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                            <h4> Annual </h4>
                                            <div class="plan-white-box">
                                                <h3>USD @Math.Round(Convert.ToDouble(Model.TotalPremium), 2)</h3>
                                                <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR Annual</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3 col-md-3 choose-plan-blocl">
                                        <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                            <h4> @Model.PaymentTermId  <span>Months</span> </h4>
                                            <div class="plan-white-box">
                                                <h3>USD @Math.Round(Convert.ToDouble(Model.TotalPremium), 2)</h3>
                                                <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR @Model.PaymentTermId MONTHS</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group-input">
                            @using (Html.BeginForm("SubmitPlan", "Domestic"))
                            {

                                if (ViewBag.CurrentUserRole == "" || User.IsInRole("Web Customer"))
                                {
                                    checkIsCustomer = true;
                                    ClassForHide = "HideSummary";
                                }


                                <div id="contact-form" class="contact-form ">
                                    <div>
                                        @Html.HiddenFor(m => m.PaymentTermId)
                                        @Html.HiddenFor(m => m.Id)
                                        @Html.HiddenFor(m => m.PaymentMethodId)

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    <label class="gender-label">Product: </label> <p> @Insurance.Domain.InsuranceContext.Domestic_Products.Single(where: $"Id='{(vehicleList[0]).ProductId}'").ProductName</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    <label class="gender-label">Risk Cover: </label><p> @Insurance.Domain.InsuranceContext.Domestic_RiskCovers.Single(where: $"Id='{(vehicleList[0]).RiskCoverId}'").CoverName</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    <label class="gender-label">Risk Item: </label><p> @Insurance.Domain.InsuranceContext.Domestic_RiskItems.Single(where: $"Id='{(vehicleList[0]).RiskCoverId}'").RiskItem</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Basic Premium", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Premium, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Stamp Duty", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalStampDuty, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("PremiumDue", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalPremium, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-8 col-md-8 form-group-select">
                                                <div class="form-group">
                                                    @Html.Label("Payment Type", new { @class = "gender-label" })
                                                    @Html.HiddenFor(m => m.PaymentMethodId)
                                                    @Html.HiddenFor(m => m.Id)
                                                    @Html.HiddenFor(m => m.CustomSumarryDetilId)
                                                    <div class="payment-card">
                                                        <ul class="list-inline">

                                                            <li id="payment_1" class="payment_type active" onclick="PaymentMethod(1)">Cash</li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="invoiceNumberDiv" class="col-sm-4 col-md-4 form-group-text">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(c => c.InvoiceNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Invoice number" })
                                                </div>
                                            </div>

                                        </div>














                                    </div>
                                    <fieldset @*disabled*@>
                                        <div class="row">
                                            <div class="col-md-12 next-btn">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <div class="text-left">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <div class="back-left"><button type="button" onclick="gotoPeriviouse();" class="btn">Back</button></div>
                                                                    <a style="display:none" id="previouselink" href="/Corporate/CorporateRiskDetail" class="back"></a>
                                                                </li>
                                                                <li class="pull-right">
                                                                    @*@if ((ViewBag.CurrentUserRole == "Staff" || ViewBag.CurrentUserRole == "Web Customer" || ViewBag.CurrentUserRole == "") && ViewBag.SummaryDetailId == 0)
                                                                        {
                                                                            <div class="text-right">
                                                                                <button type="submit" id="btnNext1" name="btnSendQuatation" value="sendQuatation" class="btn">Send Quotation</button>
                                                                            </div>
                                                                        }*@
                                                                    <div class="text-right">
                                                                        <button type="submit" id="btnNext" onclick="return checkAmountPaid();" class="btn">Next</button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button type="button" id="btnPreview" onclick="return Preview();" class="btn btn-primary">Preview</button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="text-right">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6" style="margin-top:5px;">
                                                    </div>
                                                </div>
                                                <input type="hidden" id="sucessmsg" name="sucessmsg" value="@sucessalert" />
                                                <input type="hidden" id="errMsg" value="@errMsg" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>

<script>



    function gotoExit() {
        $.ajax({
            url: "@Url.Action("gotoExit", "CustomerRegistration")",
            type: "Post",
            data: { id: @ViewBag.SummaryDetailId },
            success: function (data) {
                debugger;
                window.location.href = '/Corporate/Index';
            }
        })
    }

    function PaymentMethod(paymentMethod)
    {
        debugger;
        $("li").removeClass("active");
        $("#payment_"+paymentMethod).addClass("active");
        $("#PaymentMethodId").val(paymentMethod);

        if(paymentMethod=="1")
        {
            $("#invoiceNumberDiv").show();
        }
        else
        {
            $("#invoiceNumberDiv").hide();
        }
    }

    function gotoPeriviouse() {
        debugger;
        var isUserStaff = '@User.IsInRole("Staff")';

        if(isUserStaff=='True')
        {
            window.location.href  = '@Url.Action("CorporateRiskDetail", "Corporate", new { id= 1 })';
        }
        else
        {
            window.location.href = '@Url.Action("CorporateRiskDetail", "Corporate", new { id= 1 })';
        }
    }
    function Replacable() {
        window.location.href = "@Url.Action("PaymentDetail", "CustomerRegistration")";
    }
    function SelectPlan(element) {
        debugger;
        $(".choose-plan-box").removeClass("active");
        var planPurchase = $(element).attr("planpurchase");
        $("#PaymentTermId").val(planPurchase);
        $(element).addClass("active");
    }

    function checkAmountPaid() {
        debugger;
        var Amount = $("#AmountPaid").val();
        var paymentMethod = $("#PaymentMethodId").val();

        var flag = false;
        if (Amount == "" && Amount == "0.00") {
            toastr.error("Please Enter Amount To Be Paid");
            return false;
        }
        else if(paymentMethod=="1")
        {
            if(confirm("Are you sure you want to proceed with CASH payment?"))
            {
                return true;
            }
            else{
                gotoExit();
            }
        }
        else{
            return true;
        }

        return false;
    }

    $(document).ready(function () {
        var isUserStaff = '@User.IsInRole("Staff")';
        var isRenewals = '@User.IsInRole("Renewals")';
        if('@Model.CustomSumarryDetilId'!="")
        {
            $("#invoiceNumberDiv").hide();
        }
        if(isRenewals)
        {
            $("#payment_1").addClass("active");
            $("#invoiceNumberDiv").show();
        }
        else  if(isUserStaff == "False")
        {
            $("#payment_2").addClass("active");
            $("#invoiceNumberDiv").hide();
        }
        else{
            $("#invoiceNumberDiv").show();
        }
        if ($("#sucessmsg").val()!="") {
            alert($("#sucessmsg").val());
            debugger;

            if('@userLoggedin'=='False')
            {
                location.href = '@Url.Action("Index", "InsuranceHome")';
            }

            location.href = '@Url.Action("QuotationList", "Account")';
        }

        if ($("#errMsg").val()=="Please enter invoice number.") {
            alert("Please enter invoice number.");
        }

        $("#datetimepicker1").datetimepicker({
            format: 'MM/D/YYYY',
            minDate: new Date()
        });
        $("#PaymentMethodId").val('');

        if (@Model.PaymentMethodId != null && @Model.PaymentMethodId > 0)
        {
            $("#PaymentMethodId").val('@Model.PaymentMethodId');
        }
    });
</script>
