@model InsuranceClaim.Models.SummaryDetailModel
@{
    ViewBag.Title = "SummaryDetail";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    var vehicleList = (InsuranceClaim.Models.RiskDetailModel)Session["RenewVehicleDetails"];

    var customerDetail = (InsuranceClaim.Models.CustomerModel)Session["CustomerDataModal"];

    bool userLoggedin = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

    var isUserStaff = false;
    if ((User.Identity.IsAuthenticated && User.IsInRole("Staff")))
    {
        isUserStaff = true;
    }
    var sucessalert = TempData["SucessMsg"];
    var errMsg = TempData["ErroMsg"];

    var checkIsCustomer = false;
    var ClassForHide = "";
    var vehicleId = ViewBag.vehicleid;
}


<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Get Car Insurance In Less<br>Than 5 Minutes<h2>
        </div>
    </div>
</div>
<div class="body-content-section">
    

    <div class="form-section-top">
        <div class="container">


            <div class="row bs-wizard">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="Process-step-section process-block">
                        <div class="col-xs-2 bs-wizard-step complete">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Client Details</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step complete">
                            <!-- complete -->
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Risk Details</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step active">
                            <!-- active -->
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Summary Details</div>
                        </div>

                        <div class="col-xs-2 bs-wizard-step disabled">
                            <!-- active -->

                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="text-center bs-wizard-stepnum">Payment Details</div>
                        </div>

                    </div>
                </div>






                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-section-col">
                    <div class="form-group-section">
                        @*<div class="form-title">
                        <h4>SUMMARY DETAILS</h4>

                        <br />
                        <span> Name: <b>@customerDetail.FirstName  @customerDetail.LastName </b>,  Email: <b>@customerDetail.EmailAddress </b>  </span>
                    </div>*@

                        <div class="choose-plan">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 choose-plan-heading">
                                    <h4>Your plan</h4>
                                </div>
                                @if (vehicleList != null)
                                {
                                    //foreach (var item in vehicleList)
                                    //{
                                    <div class="Choose-sections">
                                        <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(vehicleList.PaymentTermId) == "1" ? "display:block;" : "display:none;")">
                                            <div class="choose-plan-box active" planpurchase="1" style="cursor:pointer" onclick="SelectPlan(this);">
                                                <h4>Annual</h4>
                                                <div class="plan-white-box">
                                                    <h3>$@Math.Round(Convert.ToDecimal(vehicleList.Premium + vehicleList.StampDuty + vehicleList.ZTSCLevy + vehicleList.VehicleLicenceFee + (Convert.ToBoolean(vehicleList.IncludeRadioLicenseCost) ? vehicleList.RadioLicenseCost : 0.00m)), 2)</h3>
                                                    <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{vehicleList.ModelId}'").ModelDescription</p>
                                                    <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 12 MONTHS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(vehicleList.PaymentTermId) == "2" ? "display:block;" : "display:none;")">
                                            <div class="choose-plan-box" planpurchase="2" style="cursor:pointer" onclick="SelectPlan(this);">
                                                <h4>Monthly</h4>
                                                <div class="plan-white-box">
                                                    <h3>$@Math.Round(Convert.ToDecimal(vehicleList.Premium + vehicleList.StampDuty + vehicleList.ZTSCLevy + vehicleList.VehicleLicenceFee + (Convert.ToBoolean(vehicleList.IncludeRadioLicenseCost) ? vehicleList.RadioLicenseCost : 0.00m)), 2)</h3>
                                                    <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{vehicleList.ModelId}'").ModelDescription</p>
                                                    <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 1 MONTHS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(vehicleList.PaymentTermId) == "3" ? "display:block;" : "display:none;")">
                                            <div class="choose-plan-box" planpurchase="3" style="cursor:pointer" onclick="SelectPlan(this);">

                                                <h4>Quarterly</h4>
                                                <div class="plan-white-box">
                                                    @*<h3>$ @Math.Round(Convert.ToDouble(Model.TotalPremium)/4,2)</h3>*@
                                                    <h3>$@Math.Round(Convert.ToDecimal(vehicleList.Premium + vehicleList.StampDuty + vehicleList.ZTSCLevy + vehicleList.VehicleLicenceFee + (Convert.ToBoolean(vehicleList.IncludeRadioLicenseCost) ? vehicleList.RadioLicenseCost : 0.00m)), 2)</h3>
                                                    <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{vehicleList.ModelId}'").ModelDescription</p>
                                                    <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 3 MONTHS</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(vehicleList.PaymentTermId) == "4" ? "display:block;" : "display:none;")">
                                            <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                                <h4>Termly</h4>
                                                <div class="plan-white-box">
                                                    <h3>$@Math.Round(Convert.ToDecimal(vehicleList.Premium + vehicleList.StampDuty + vehicleList.ZTSCLevy + vehicleList.VehicleLicenceFee + (Convert.ToBoolean(vehicleList.IncludeRadioLicenseCost) ? vehicleList.RadioLicenseCost : 0.00m)), 2)</h3>
                                                    <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{vehicleList.ModelId}'").ModelDescription</p>
                                                    <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 4 MONTHS</a>
                                                </div>

                                            </div>
                                        </div>


                                        @if (vehicleList.PaymentTermId > 4)
                                            {
                                            <div class="col-sm-3 col-md-3 choose-plan-blocl" style="">
                                                <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                                    <h4>Termly</h4>
                                                    <div class="plan-white-box">
                                                        <h3>$@Math.Round(Convert.ToDecimal(vehicleList.Premium + vehicleList.StampDuty + vehicleList.ZTSCLevy + vehicleList.VehicleLicenceFee + (Convert.ToBoolean(vehicleList.IncludeRadioLicenseCost) ? vehicleList.RadioLicenseCost : 0.00m)), 2)</h3>
                                                        <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{vehicleList.ModelId}'").ModelDescription</p>
                                                        <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR @vehicleList.PaymentTermId MONTHS</a>
                                                    </div>

                                                </div>
                                            </div>
                                            }




                                    </div>
                                        //}
                                    }

                            </div>
                        </div>

                        <div id="divVehicleList" style="display:block;">
                            <table class="table table-striped" id="tblVehicleList">
                                <thead>
                                    <tr>
                                        <th>VEHICLE</th>
                                        <th>SUM INSURED</th>
                                        <th>Basic Premium</th>
                                        <th>RADIO LICENCE FEE</th>
                                        <th>ZTSC Levy</th>
                                        <th>VEHICLE LICENCE FEE</th>
                                        <th> STAMP DUTY</th>
                                        <th> TOTAL</th>
                                        <th style="text-align: center;">Option(s)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                            <hr class="higlighter" />
                        </div>
                        <br />
                        <br />
                        <div class="form-group-input">
                            @using (Html.BeginForm("SubmitPlan1", "Renew"))
                            {

                                if (ViewBag.CurrentUserRole == "" || User.IsInRole("Web Customer"))
                                {
                                    checkIsCustomer = true;
                                    ClassForHide = "HideSummary";
                                }


                                <div id="contact-form" class="contact-form ">

                                    <div class="@ClassForHide">


                                        @Html.HiddenFor(m => m.PaymentTermId)
                                        @Html.HiddenFor(m => m.Id)
                                        @Html.HiddenFor(m => m.InsuranceId)
                                        @Html.HiddenFor(m => m.Id)



                                        @if (isUserStaff)
                                        {
                                            <div class="row">

                                                <div class="col-md-6 form-group-text">
                                                    <div class="form-group">
                                                        @Html.Label("Amount Due", new { @class = "gender-label" })
                                                        @Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control", @autocomplete = "off", @placeholder = "Amount Paid" })
                                                        @Html.ValidationMessageFor(m => m.AmountPaid, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 form-group-text">
                                                    <div class="form-group">
                                                        @Html.Label("Due Amount Payment Date", new { @class = "gender-label" })
                                                        <div class="input-group" id="datetimepicker1">
                                                            @Html.TextBoxFor(x => x.BalancePaidDate, new { @class = "form-control", @autocomplete = "off", @placeholder = "Due Amount Payment Date" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 form-group-text">
                                                    <div class="form-group">
                                                        @Html.Label("Additional Notes", new { @class = "gender-label" })
                                                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @autocomplete = "off", @placeholder = "Additional Notes" })
                                                        @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">

                                                <div class="col-md-6 form-group-text">
                                                    <div class="form-group">
                                                        @Html.Label("Amount Due", new { @class = "gender-label" })
                                                        @Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control inputDisabled", @autocomplete = "off", @placeholder = "Amount Paid" })
                                                        @Html.ValidationMessageFor(m => m.AmountPaid, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                        <div class="row" style="display:none;">
                                            <div class="col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Min Amount To be Paid", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.MinAmounttoPaid, new { @class = "form-control", @autocomplete = "off", @placeholder = "Min Amount To be Paid", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Max Amount To be Paid", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.MaxAmounttoPaid, new { @class = "form-control", @autocomplete = "off", @placeholder = "Max Amount To be Paid", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>


                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Total Sum Insured", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalSumInsured, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Sum Insured", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Total Premium", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalPremium, null, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Premium / Total vehicle Licence Cost", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Total Stamp Duty", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalStampDuty, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Stamp Duty", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Total ZTSC Levies", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalZTSCLevies, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total ZTSC Levies", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Total Radio License Cost", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.TotalRadioLicenseCost, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Radio Licence Cost", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Debit Note", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.DebitNote, new { @class = "form-control", @autocomplete = "off", @placeholder = "Debit Note/Invoice Number", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.ExcessBuyBackAmount, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.ExcessBuyBackAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Excess Buy Back Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.MedicalExpensesAmount, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.MedicalExpensesAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Medical Expenses Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.PassengerAccidentCoverAmount, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.PassengerAccidentCoverAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Passenger Accident Cover Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.RoadsideAssistanceAmount, new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.RoadsideAssistanceAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Roadside Assistance Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Excess Amount", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.ExcessAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Excess Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 form-group-text">
                                                <div class="form-group">
                                                    @Html.Label("Discount", new { @class = "gender-label" })
                                                    @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Roadside Assistance Amount", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-select">
                                            <div class="form-group">
                                                @Html.Label("Payment Type", new { @class = "gender-label" })
                                                @Html.HiddenFor(m => m.PaymentMethodId)
                                                @Html.HiddenFor(m => m.Id)
                                                @Html.HiddenFor(m => m.CustomSumarryDetilId)

                                                <div class="payment-card">
                                                    <ul class="list-inline">

                                                        @if (User.IsInRole("Staff") || User.IsInRole("Renewals") || User.IsInRole("Team Leaders"))
                                                        {
                                                            <li id="payment_1" class="payment_type active" onclick="PaymentMethod(1)">  Cash   </li>
                                                            // 1008 for test 7 for live
                                                            <li id="payment_6" class="payment_type" onclick="PaymentMethod(6)">Pay Later</li>
                                                       }

                                                        @*<li id="payment_2" class="payment_type" onclick="PaymentMethod(2)"><img src="~/Images/master-card.png" /></li>*@

                                                        @*<li id="payment_3" class="payment_type" onclick="PaymentMethod(3)"><img  style="width:65px;" src="~/Images/eft_pay.png" /></li>*@

                                                        <li id="payment_3" class="payment_type" onclick="PaymentMethod(3)"><img style="width:65px;" src="~/Images/Paynow-logo.png" /></li>

                                                    </ul>
                                                </div>


                                            </div>
                                        </div>

                                        <div id="invoiceNumberDiv" class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.TextBoxFor(c => c.InvoiceNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Invoice number" })
                                            </div>

                                        </div>

                                    </div>





                                    <div class="row">
                                        <div class="col-md-12 next-btn">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="text-left">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <div class="back-left"><button type="button" onclick="gotoPeriviouse();" class="btn">Back</button></div>
                                                                @*<a style="display:none" id="previouselink" href="/Renew/RiskDetail" class="back"></a>*@
                                                            </li>
                                                            <li class="pull-right">
                                                                @if ((ViewBag.CurrentUserRole == "Staff" || ViewBag.CurrentUserRole == "Web Customer" || ViewBag.CurrentUserRole == "") )
                                                            {
                                                                <div class="text-right">
                                                                    <button type="submit" id="btnNext1" name="btnSendQuatation" value="sendQuatation" class="btn">Send Quotation</button>

                                                                </div>
                                                            }
                                                                <div class="text-right">
                                                                    <button type="button" id="btnNext" onclick="return checkAmountPaid();" class="btn">Next</button>

                                                                    <button type="submit" id="btnSubmit" style="display:none;" class="btn">Next</button>
                                                                </div>

                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>




                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 col-md-6">
                                                </div>

                                                <div class="col-sm-6 col-md-6" style="margin-top:5px;">

                                                </div>
                                            </div>


                                            <input type="hidden" id="sucessmsg" name="sucessmsg" value="@sucessalert" />
                                            <input type="hidden" id="errMsg" value="@errMsg" />
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script>

    function gotoExit() {
        $.ajax({
            url: "@Url.Action("gotoExit", "Renew")",
            type: "Post",
            data: { id: @ViewBag.SummaryDetailId },
            success: function (data) {
                debugger;
                // window.location.href = '/CustomerRegistration/Index';

                window.location.href = '/Renew?vehicleid='+@ViewBag.vehicleid ;

            }
        })
    }

    function PaymentMethod(paymentMethod)
    {
        debugger;
        $("li").removeClass("active");
        $("#payment_"+paymentMethod).addClass("active");
        $("#PaymentMethodId").val(paymentMethod);

        if(paymentMethod=="1")
        {
            $("#invoiceNumberDiv").show();
        }
        else
        {
            $("#invoiceNumberDiv").hide();
        }
    }


    function EditVehicleDetails(index) {
        var isUserStaff = '@User.IsInRole("Staff")';
        var redirecturl = "";

        if(isUserStaff=='True')
        {
            redirecturl = '@Url.Action("RiskDetail", "ContactCentre", new { id= 0 })';
        }
        else
        {
            redirecturl = '@Url.Action("RiskDetail", "CustomerRegistration", new { id= 0 })';
        }


        redirecturl = redirecturl.replace("0", index);
        location.href = redirecturl;


    }

    function DeleteVehicleDetails(index) {
        var obj = {};
        obj.index = index;

        $.ajax({
            url: "@Url.Action("DeleteVehicle", "CustomerRegistration")",
            data: obj,
            type: "POST",
            dataType: "json",
            success: function (result) {
                if (result) {
                    location.href = '@Url.Action("SummaryDetail", "CustomerRegistration")';
                }
            }
        });
    }

    function getVehicleList() {
        debugger;

        $.ajax({
            url: "@Url.Action("getVehicleList","Renew")",
            type: "GET",
            data: { summaryDetailId: @ViewBag.SummaryDetailId },
            dataType: "json",
            success: function (result) {
                debugger;
                var list = result;

                var bodyHTML = "";
                var count = 0;
                var totalpremium = 0.00;
                $.each(list, function (index, value) {

                    count++;
                    bodyHTML += "<tr><td>" + value.make + " "+ value.model+"(" + value.RegistrationNo+" )" + "</td><td>" + value.suminsured + "</td><td>" + value.premium + "</td><td>$" + value.radio_license_fee + "</td><td>$" + value.ZTSCLevy + "</td><td>$" + value.vehicle_license_fee+ "</td> <td>$" + value.stampDuty+ "</td><td>$" + value.total+ "</td><td><div class='tbl-btn-list'><ul class='list-inline'><li><button type='button' onclick='EditVehicleDetails(" + count + ")' class = 'btn-sm btn-primary' >Edit</button></li><li><button type='button' onclick='DeleteVehicleDetails(" + count + ")' class='btn-sm btn-danger' >Delete</button></li></ul></div></td></tr>"
                    totalpremium += parseFloat(value.premium);
                });

                $("#tdTotalPremium").text("$" + totalpremium);

                $("#tblVehicleList tbody").append(bodyHTML);

                if (bodyHTML != "") {
                    $("#divVehicleList").css("display", "block");
                }
                else {
                    $("#divVehicleList").css("display", "none");
                }
            }
        });
    }

    function gotoPeriviouse() {
        debugger;
        var isUserStaff = '@User.IsInRole("Staff")';
        @*var vehicleId = '@ViewBag.vehicleid';*@

        if(isUserStaff=='True')
        {
            window.location.href  = '@Url.Action("RiskDetail", "Renew", new { id= 1 })';
        }
        else
        {
            window.location.href = '@Url.Action("RiskDetail", "Renew", new { id= vehicleId })';
        }


    }


    @*function gotoPeriviouse() {
        // $("#previouselink")[0].click();
        debugger;
        var isUserStaff = '@User.IsInRole("Staff")';

        if(isUserStaff=='True')
        {
            window.location.href  = '@Url.Action("RiskDetail", "ContactCentre", new { id= 1 })';
        }
        else
        {
            window.location.href = '@Url.Action("RiskDetail", "CustomerRegistration", new { id= 1 })';
        }


    }*@
    function Replacable() {
        window.location.href = "@Url.Action("PaymentDetail", "CustomerRegistration")";
    }
    function SelectPlan(element) {
        debugger;
        $(".choose-plan-box").removeClass("active");
        var planPurchase = $(element).attr("planpurchase");
        $("#PaymentTermId").val(planPurchase);
        $(element).addClass("active");
    }

    function checkAmountPaid() {
        debugger;
        //var minAmount = $("#MinAmounttoPaid").val();
        //var maxAmount = $("#MaxAmounttoPaid").val();
        var Amount = $("#AmountPaid").val();
        var paymentMethod = $("#PaymentMethodId").val();

        var flag = false;
        if (Amount == "" && Amount == "0.00") {
            toastr.error("Please Enter Amount To Be Paid");
            return false;
        }
        else if(paymentMethod=="")
        {
            toastr.error("Please select payment type.");
            return false;
        }
        else if(paymentMethod=="1")
        {
            if(confirm("Are you sure you want to proceed with CASH payment?"))
            {
                $("#btnSubmit").click();
            }
            else
            {
                return false;
            }
            //else{
            //    gotoExit();
            //}
        }
        else{
            $("#btnSubmit").click();
        }

        return false;
    }

    $(document).ready(function () {
        debugger;
        var isUserStaff = '@User.IsInRole("Staff")';


        if('@Model.CustomSumarryDetilId'!="")
        {
            $("#invoiceNumberDiv").hide();
        }

        if(isUserStaff == "Customer")
        {
            $("#payment_2").addClass("active");
            $("#invoiceNumberDiv").hide();
        }
        else{
            $("#invoiceNumberDiv").show();
        }

        if ($("#sucessmsg").val()!="") {
            alert($("#sucessmsg").val());
            debugger;

            if('@userLoggedin'=='False')
            {
                location.href = '@Url.Action("Index", "InsuranceHome")';
            }

            location.href = '@Url.Action("QuotationList", "Account")';
        }

        if ($("#errMsg").val()=="Please enter invoice number.") {
            alert("Please enter invoice number.");
        }

        $("#datetimepicker1").datetimepicker({
            format: 'MM/D/YYYY',
            minDate: new Date()
        });



        getVehicleList();

        $("#PaymentMethodId").val('');
        debugger;
        if (@Model.PaymentMethodId != null && @Model.PaymentMethodId > 0)
        {
            $("#PaymentMethodId").val('@Model.PaymentMethodId');
        }

    });
</script>
