@model InsuranceClaim.Models.NewReconcilationReportModel


@{
    ViewBag.Title = "ReconciliationReport";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}
<div class="productsave-section DailyReceiptsReport">
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Reconciliation Report</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn products-top">
                <div class="text-right">
                    @*<button type="button" class="btn btn-primary">Add</button>*@
                    @*<input class="btn btn-primary" type="button" value="Generate PDF" id="generatePdf" />*@
                    <input class="btn btn-primary" type="button" value="Generate Excel" id="generateExcel" />
                </div>
            </div>
        </div>
        @using (Html.BeginForm("NewReconciliationSearchReport", "Report", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="container-main">
                <div class="form-group-section-date">
                    <div class="form-group-input">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 form-group-text">
                                <div class="form-group">
                                  <div class='input-group' id='datetimenew'>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "Start Date" })
                                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 form-group-text">
                                <div class="form-group">
                                    <div class='input-group' id='datetimenew12'>
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @autocomplete = "off", @placeholder = "End Date" })
                                        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 form-group-btn">
                                <div class="form-group">
                                    <ul class="list-inline">
                                        <li><button type="submit" class="btn btn-success">Search</button></li>
                                        <li><button type="button" onclick="removeSearchBox();" class="btn btn-danger">Clear Search</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="product-table-grid">
            <div class="table-responsive">
                <table class="table table-striped tablesorter" style="width:1873px; height:100px!important" id="report2excel">
                    <thead style='display:none;'>
                        <tr>
                            <td>
                                <p><b><u>Report Generated Date:</u></b> <span id="datetime"></span></p>

                                <script>
                                    var dt = new Date();
                                    document.getElementById("datetime").innerHTML = dt.toLocaleString();
                                </script>
                            </td>
                            <td></td>
                            <td>
                                <h3><u>@ViewBag.Title</u></h3>
                                <strong></strong>
                                <strong></strong>

                            </td>
                            <td></td>
                            <td colspan="2" rowspan="2"><center><strong>Start Date :</strong></center></td>

                            <td><label for="FromDate">@ViewBag.fromdate</label><br></td>
                            <td></td>
                            <td colspan="2" rowspan="2"><center><strong>End Date :</strong></center></td>
                            <td><label for="EndDate">@ViewBag.enddate</label></td>
                        </tr>

                    </thead>
                    <thead>
                        <tr>
                            @*<th>Staff</th>*@
                            <th>Created By</th>
                            <th>Policy Number</th>
                            <th>Customer Name</th>
                            <th>Transaction Date</th>
                            <th>Currency</th>
                           
                            <th>Invoice Number</th>                       
                            <th>Invoice Amount</th>
                            <th>Receipt Amount</th>
                            <th>Receipt Date</th>
                            <th style="text-align:left;">Balance</th>
                            <th>Created On</th>
                            
                    </thead>
                    <tbody>
                        @{

                            decimal? premiumDueTotal = 0;
                            decimal? amountPaidTotal = 0;
                            decimal? balanceTotal = 0;

                        }
                        @foreach (var item in Model.listInvoiceAndReciept)
                        {
                            premiumDueTotal += item.PremiumDue;
                            amountPaidTotal += item.AmountPaid;
                            balanceTotal += item.Balance;


                        <tr>

                            <td>@item.PolicyCreatedBy</td>
                            <td>@item.PolicyNumber</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TransactionDate.ToString("MM/dd/yyyy")</td>
                            <td>@item.Currency </td>
                            
                            <td>@item.PolicyNumber</td>
                            <th>@item.PremiumDue</th>
                            <th>@item.AmountPaid</th>
                            <th>@item.ReceiptDate</th>
                            <th style="text-align:left;">@item.Balance</th>
                            <th>@item.PolicyCreatedOn.ToString("MM/dd/yyyy")</th>





                            @*

        <td>@item.DatePosted</td>
        <td>$ @item.AmountPaid</td>
        <td>$@Math.Round(Convert.ToDecimal(item.Balance), 2)</td>
        <td> @item.TransactionReference</td>
        <td>@item.paymentMethodType</td>*@
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong></strong></td>
                            <td><strong>Total:</strong></td>
                            <td><strong>@premiumDueTotal</strong></td>
                            <td><strong>@amountPaidTotal</strong></td>
                            <td></td>
                            <td><strong>@balanceTotal</strong></td>
                            <td></td>


                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

        $(".tablesorter").tablesorter({

            headers: {
                0: {
                    sorter: false
                },
            }
        });
        $("#datetimenew").datetimepicker({
            format: 'MM/D/YYYY'
        });
        $("#datetimenew12").datetimepicker({
            format: 'MM/D/YYYY'

        });
    });


    function removeSearchBox() {
        window.location.href = "/Report/NewReconciliationReport";
    }


    $("#generateExcel").click(function () {
        debugger;
        $("#report2excel").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Worksheet Name",
            filename: "ReconciliationReport" //do not include extension

        });
    });

    var doc = new jsPDF({ format: [400, 400] });
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#generatePdf').click(function () {

        doc.fromHTML($('#content').html(), 5, 5, {
            'width': 300,
            'elementHandlers': specialElementHandlers
        });
        doc.save('ReconciliationReport.pdf');

    });



</script>