@model InsuranceClaim.Models.ServiceProviderModel
@{
    ViewBag.Title = "SaveServiceProviders";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Add Service Providers</h4>
                        </div>
                        <div class="form-group-input">
                            @using (Html.BeginForm("SaveServiceProviders", "ServiceProvider", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <input type="hidden" id="hdnddlproviders" name="hidden1" value="" />
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-select">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ServiceProviderType, new { @class = "gender-label" })
                                            @Html.DropDownListFor(x => x.ServiceProviderType, new SelectList(ViewBag.ProviderTypes, "Id", "ProviderType"), "Select Provider", new { @class = "form-control", @id="ddlProviders" })
                                            @Html.ValidationMessageFor(x => x.ServiceProviderType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.ServiceProviderName, new { @class = "gender-label" })
                                                @Html.TextBoxFor(x => x.ServiceProviderName, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Provider Name" })
                                                @Html.ValidationMessageFor(x => x.ServiceProviderName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ServiceProviderContactDetails, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ServiceProviderContactDetails, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Contact Details" })
                                            @Html.ValidationMessageFor(x => x.ServiceProviderContactDetails, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ServiceProviderFees, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ServiceProviderFees, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Provider Fees" })
                                            @Html.ValidationMessageFor(x => x.ServiceProviderFees, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("ProvidersList", "ServiceProvider")'">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        $("#ddlProviders").change(function () {
            var ddlval = $("#ddlProviders").val();
            $("#hdnddlproviders").val(ddlval);
        })
    });
</script>*@