@model Insurance.Domain.InflationVehicleDTO
    @using Insurance.Domain;
@{
    ViewBag.Title = "VehicalUserList";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


@using (Html.BeginForm("EditVehicleUsage", "VehicleUsage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="productsave-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                    <div class="head-title">
                        <h2>Vehicle Usages</h2>
                    </div>
                </div>
                <br />
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 add-btn">
                    <div class="text-right">
                        @*<button type="button" class="btn btn-primary">Add</button>*@
                        <form>
                            <input class="btn btn-primary" type="button" value="Inflation Factor" onclick="window.location.href='@Url.Action("InflationFactorList", "VehicleUsage" )'" />
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 add-btn">
                    <div class="text-right">
                        @*<button type="button" class="btn btn-primary">Add</button>*@
                        <form>
                            <input class="btn btn-primary" type="button" value="Add Vehicle Usage" onclick="window.location.href='@Url.Action("Index", "VehicleUsage" )'" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-table-grid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Vehicle Usage</th>
                            <th>USD Minimum Benchmark</th>
                            <th>Inflation Factor</th>
                            <th>Comp Rate</th>
                            <th>Premium Rate</th>
                            <th>Minimum Sum Insured (RTGS)</th>
                            <th>Min Comp Amount (RTGS)</th>
                            <th>Third Party Rate</th>
                            @*<th>Min Third Amount</th>*@
                            <th>FTP Amount</th>
                            <th>Annual TP Amount</th>
                            <th class="action-th">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var inflationFactor = Model.InflationFactor.InflationFact;
                        }
                        @foreach (var item in Model.VehicleUsages)
                        {
                            decimal MinSUmInsured = Convert.ToDecimal(item.USDBenchmark * inflationFactor);
                            decimal PremiumRate = Math.Round(Convert.ToDecimal(item.ComprehensiveRate * 0.9), 2);
                            var MinCompAmount = Math.Round((MinSUmInsured) * Convert.ToDecimal(PremiumRate / 100), 2);

                            var productDetial = InsuranceContext.Products.Single(item.ProductId);

                            <tr>
                                <td> 
                                    @if(productDetial!=null)
                                    {
                                        <span>@productDetial.ProductName</span>
                                    }
                                    
                                 </td>
                                <td>@item.VehUsage</td>
                                <td>$@item.USDBenchmark</td>
                                <td>@inflationFactor</td>
                                <td>@item.ComprehensiveRate%</td>
                                <td>@(PremiumRate)%</td>
                                <td>@(MinSUmInsured)</td>
                                <td>@(MinCompAmount)</td>
                                <td>@item.ThirdPartyRate</td>
                                @*<td>@item.MinThirdAmount</td>*@
                                <td>@item.FTPAmount</td>
                                <td>@item.AnnualTPAmount</td>
                                <td>
                                    <div class="tbl-btn-list">
                                        <ul class="list-inline">
                                            <li>@Html.ActionLink("Edit", "EditVehicleUsage", new { id = item.Id }, new { @class = "btn-sm btn-primary" })</li>
                                            <li><button type="button" class="btn-sm btn-danger" onclick="ShowPopup('@item.Id')">Delete</button></li>


                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-------------- Modal -------------->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;color: #00bcea;font-weight: bold;">Are you sure You want to do this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="ConfirmDelete();">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

}

<script>
    let vehicleId;
    function ShowPopup(Id) {
        debugger;
        $("#myModal").modal("show");
        vehicleId = Id;
    }
        function ConfirmDelete() {
            debugger;
        var url = "@Url.Action("DeleteVehicleUsage", "VehicleUsage", new { Id=123456 })";
        window.location.href = url.replace("123456", vehicleId);
    }

</script>