@model InsuranceClaim.Models.ProductModel
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}
<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Edit Product </h4>
                        </div>
                        <div class="form-group-input">
                            @*@using (Ajax.BeginForm("SaveCustomerData", "CustomerRegistration", new AjaxOptions { UpdateTargetId = "CustomerResult", OnSuccess = "GoToProductDetail" }))*@
                            @using (Html.BeginForm("ProductEdit", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.HiddenFor(x => x.Id)

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ProductName, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @name = "InsurerName", @autocomplete = "off", @id = "ProductName", @placeholder = "Enter Product Name" })
                                            @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ProductCode, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control", @name = "ProductCode", @autocomplete = "off", @id = "InsurerCode", @placeholder = "Enter Product Code" })
                                            @Html.ValidationMessageFor(x => x.ProductCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("ProductList", "Product")'">Cancel</button>

                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>




