@*@model InsuranceClaim.Models.DashboardViewModel*@
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    bool userLoggedin = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
}

<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>

<div class="body-content-section">
    <div class="Process-step-section">
        <div class="container">

        </div>
    </div>


    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">


                    @if (User.IsInRole("SuperUser"))
                    {
                        <div class="dashboard-section">
                            <div class="form-title">
                                <h4>Agent Dashboard</h4>
                            </div>
                            <div class="admin-box">
                                <div class="row">
                                    <a href="@Url.Action("Index", "Agent")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4> Agents</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }


                    @if (User.IsInRole("Agent"))
                    {
                        <div class="dashboard-section">
                            <div class="form-title">
                                <h4>Agent Dashboard</h4>
                            </div>
                            <div class="admin-box">
                                <div class="row">
                                    <a href="@Url.Action("Index", "AgentStaff")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4> Agent's Staff</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }


                    @if (User.IsInRole("AgentStaff"))
                    {
                        <div class="dashboard-section">
                            <div class="form-title">
                                <h4>Agent Dashboard</h4>
                            </div>
                            <div class="admin-box">
                                <div class="row">
                                    <a href="@Url.Action("CustomerDetail", "AgentMotor")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Create Policy</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Finance"))
                    {
                        <div class="dashboard-section">
                            <div class="form-title">
                                <h4>Dashboard</h4>
                            </div>

                            <div class="admin-box">
                                <div class="row">
                                    <a href="@Url.Action("GrossWrittenPremiumReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Gross Written Premium Report</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("ALMGWPReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>ALM GWP Report</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("DailyReceiptsReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Daily Receipts Report</h4>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="@Url.Action("ReconciliationReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Reconciliation</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("ReceiptModule", "CustomerRegistration")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Receipt</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="row">
                                    <a href="@Url.Action("ZTSCLevyReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>ZTSC Levy Report</h4>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="@Url.Action("LapsedPoliciesReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Lapsed Policies Report</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }





                    @if (User.IsInRole("Reports"))
                    {
                        <div class="dashboard-section">
                            <div class="form-title">
                                <h4>Dashboard</h4>
                            </div>

                            <div class="admin-box">
                                <div class="row">
                                    <a href="@Url.Action("GrossWrittenPremiumReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Gross Written Premium Report</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("ALMGWPReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>ALM GWP Report</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("DailyReceiptsReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Daily Receipts Report</h4>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="@Url.Action("ClaimsNotificationReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Claims Notification</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("ClaimsPaymentReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Claims Payment</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="row">
                                    <a href="@Url.Action("ClaimsRegistrationReport", "Report")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Claims Registration</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }


                  




                    @if (User.IsInRole("Administrator"))
                    {                  
                    <div class="dashboard-section">
                        <div class="form-title">
                            <h4>Admin Dashboard</h4>
                        </div>

                        <div class="admin-box">
                            <div class="row">
                                <a href="@Url.Action("ListReinsuranceBroker", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Broker</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("SettingList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Settings Management</h4>
                                        </div>
                                    </div>
                                </a>
                                @*<a href="@Url.Action("PolicyList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Management</h4>
                                        </div>
                                    </div>
                                </a>*@

                                <a href="@Url.Action("PolicyManagement", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Management</h4>
                                        </div>
                                    </div>
                                </a>



                                
                                <a href="@Url.Action("CoverList", "Covertype")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Cover Type Management</h4>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="row">
                                <a href="@Url.Action("PolicyInsurerList", "PolicyInsurer")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Insurer Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ProductList", "Product")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Product Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("CommissionList", "Commission")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Agent Commission Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("VehicleUsageList", "VehicleUsage")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Vehicle Usage Management</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("RoleManagementList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Role Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("UserManagementList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>User Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("CustomerManagementList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Customer Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("LicenceTickets", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Licence Tickets Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ListPolicyRenewReminderSetting", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Renew Reminder Setting </h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("VehicleMakeList", "VehicleMake")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Make Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("VehicleModelList", "VehicleModel")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Model Management</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("Index", "City")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>City</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ClaimantList", "Claimant")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Claim Management</h4>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="row">
                                <a href="@Url.Action("ProvidersList", "ServiceProvider")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Service Provider Management</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("Index", "BusinessSource")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Business Source</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("Commission", "BusinessSource")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Commission</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("SendBirthdayMessage", "BirthdayMessage")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Birthday Message</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("Index", "Currency")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Currency</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("SourceDetailsList", "SourceDetail")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Source Detail</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ReceiptModule", "CustomerRegistration")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Receipt Module</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("VehicleHistory", "Renew")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Vehicle History</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("Index", "Branch")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Branch</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("RefundPolicy", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Refund Policy</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("Banners", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Banner</h4>
                                        </div>
                                    </div>
                                </a>


                               




                                @*<a href="@Url.Action("EndorsementDetail", "Endorsement")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Endorsement Detail</h4>
                                            </div>
                                        </div>
                                    </a>*@


                                @*<a href="@Url.Action("ClaimSettingList","Claimant")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Claim Setting Management</h4>
                                            </div>
                                        </div>
                                    </a>*@
                            </div>
                        </div>

                    </div>

                    <div class="dashboard-section">
                        <div class="form-title">
                            <h4>Reports</h4>
                        </div>

                        <div class="admin-box">
                            <div class="row">
                                <a href="@Url.Action("ZTSCLevyReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>ZTSC Levy Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("StampDutyReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Stamp Duty Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ReinsuranceCommissionReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Commission Report</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("GrossWrittenPremiumReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Gross Written Premium Report</h4>
                                        </div>
                                    </div>
                                </a>


                            </div>

                            <div class="row">

                                <a href="@Url.Action("ALMGWPReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>ALM GWP Report</h4>
                                        </div>
                                    </div>
                                </a>
                               
                                <a href="@Url.Action("BasicCommissionReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Basic Commission Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ReinsuranceReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Report</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("RadioLicenceReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Radio Licence Report</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("CustomerListingReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Customer Listing Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("DailyReceiptsReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Daily Receipts Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("LapsedPoliciesReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Lapsed Policies Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("InsuredVehical", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Insured Vehical</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("ProductivityReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Productivity Report</h4>
                                        </div>
                                    </div>
                                </a>

                                @*<a href="@Url.Action("LoyaltyPointsReport", "Report")">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                <div class="color-box">
                    <h4>Loyalty Points Report</h4>
                </div>
            </div>
        </a>*@

                                <a href="@Url.Action("ReconciliationReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reconciliation Report</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("RenewPolicyList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Renew Policy</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ClaimsNotificationReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Claims Notification</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("ClaimsRegistrationReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Claims Registration</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("ClaimsPaymentReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Claims Payment</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("InsuranceandLicenceDeliveryReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Insurance and Licence delivery</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("ManagementReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>GWP Summary Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("SummaryProductivityReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Summary Productivity Report</h4>
                                        </div>
                                    </div>
                                </a>


                                <a href="@Url.Action("InsuranceReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Insurance Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("VehicleRiskAboutExpire", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Vehicles/Risks About to Expire</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("CertSerialNoReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>CertSerialNoReport</h4>
                                        </div>
                                    </div>
                                </a>
                                

                                @*<a href="@Url.Action("rolemanagementlist","Account")">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                <div class="color-box">
                    <h4>Role Management</h4>
                </div>
            </div>
        </a>
        <a href="@Url.Action("usermanagementlist","Account")">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                <div class="color-box">
                    <h4>User Management</h4>
                </div>
            </div>
        </a>*@


                            </div>
                        </div>

                    </div>

                    }

                </div>
            </div>

            @*@if (User.IsInRole("Staff"))
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                            <div class="dashboard-section">
                                <div class="form-title">
                                    <h4>Staff Dashboard</h4>
                                </div>
                                <div class="admin-box">
                                    <div class="row">

                                        <a href="@Url.Action("EndorsementDetail", "Endorsement")">
                                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                                <div class="color-box">
                                                    <h4>Endorsement Detail</h4>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@

        </div>
    </div>
</div>
