@model InsuranceClaim.Models.EndorsementSummaryDetailModel
@{
    ViewBag.Title = "EndorsementSummaryDetail";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    var vehicleList = (List<InsuranceClaim.Models.EndorsementRiskDetailModel>)Session["EnViewlistVehicles"];
}

<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Get Car Insurance In Less<br>Than 5 Minutes</h2>
        </div>
    </div>
</div>

<div class="body-content-section">
    <div class="Process-step-section">
        <div class="container">
            <div class="row bs-wizard">

            </div>
        </div>
    </div>
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>SUMMARY DETAILS</h4>
                        </div>
                        <div class="choose-plan">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 choose-plan-heading">
                                    <h4>Your plan</h4>
                                </div>
                                @if (vehicleList != null && vehicleList.Count > 0)
                                {
                                    foreach (var item in vehicleList)
                                    {
                                        <div class="Choose-sections">
                                            <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(item.PaymentTermId) == "1" ? "display:block;" : "display:none;")">
                                                <div class="choose-plan-box active" planpurchase="1" style="cursor:pointer" onclick="SelectPlan(this);">
                                                    <h4>Annual</h4>
                                                    <div class="plan-white-box">
                                                        <h3>$@Math.Round(Convert.ToDouble(item.Premium + item.StampDuty + item.ZTSCLevy + item.VehicleLicenceFee + (Convert.ToBoolean(item.IncludeRadioLicenseCost) ? item.RadioLicenseCost : 0.00m)), 2)</h3>
                                                        <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{item.ModelId}'").ModelDescription</p>
                                                        <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 12 MONTHS</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(item.PaymentTermId) == "2" ? "display:block;" : "display:none;")">
                                                <div class="choose-plan-box" planpurchase="2" style="cursor:pointer" onclick="SelectPlan(this);">
                                                    <h4>Monthly</h4>
                                                    <div class="plan-white-box">
                                                        <h3>$@Math.Round(Convert.ToDouble(item.Premium + item.StampDuty + item.ZTSCLevy + item.VehicleLicenceFee + (Convert.ToBoolean(item.IncludeRadioLicenseCost) ? item.RadioLicenseCost : 0.00m)), 2)</h3>
                                                        <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{item.ModelId}'").ModelDescription</p>
                                                        <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 1 MONTHS</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(item.PaymentTermId) == "3" ? "display:block;" : "display:none;")">
                                                <div class="choose-plan-box" planpurchase="3" style="cursor:pointer" onclick="SelectPlan(this);">

                                                    <h4>Quarterly</h4>
                                                    <div class="plan-white-box">
                                                        @*<h3>$ @Math.Round(Convert.ToDouble(Model.TotalPremium)/4,2)</h3>*@
                                                        <h3>$@Math.Round(Convert.ToDouble(item.Premium + item.StampDuty + item.ZTSCLevy + item.VehicleLicenceFee + (Convert.ToBoolean(item.IncludeRadioLicenseCost) ? item.RadioLicenseCost : 0.00m)), 2)</h3>
                                                        <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{item.ModelId}'").ModelDescription</p>
                                                        <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 3 MONTHS</a>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 choose-plan-blocl" style="@(Convert.ToString(item.PaymentTermId) == "4" ? "display:block;" : "display:none;")">
                                                <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                                    <h4>Termly</h4>
                                                    <div class="plan-white-box">
                                                        <h3>$@Math.Round(Convert.ToDouble(item.Premium + item.StampDuty + item.ZTSCLevy + item.VehicleLicenceFee + (Convert.ToBoolean(item.IncludeRadioLicenseCost) ? item.RadioLicenseCost : 0.00m)), 2)</h3>
                                                        <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{item.ModelId}'").ModelDescription</p>
                                                        <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR 4 MONTHS</a>
                                                    </div>

                                                </div>
                                            </div>

                                            @if (item.PaymentTermId > 4)
                                            {
                                                <div class="col-sm-3 col-md-3 choose-plan-blocl" style="">
                                                    <div class="choose-plan-box" planpurchase="4" style="cursor:pointer" onclick="SelectPlan(this);">
                                                        <h4>Termly</h4>
                                                        <div class="plan-white-box">
                                                            <h3>$@Math.Round(Convert.ToDouble(item.Premium + item.StampDuty + item.ZTSCLevy + item.VehicleLicenceFee + (Convert.ToBoolean(item.IncludeRadioLicenseCost) ? item.RadioLicenseCost : 0.00m)), 2)</h3>
                                                            <p>Vehicle Model : @Insurance.Domain.InsuranceContext.VehicleModels.Single(where: $"ModelCode='{item.ModelId}'").ModelDescription</p>
                                                            <a href="javascript:void(0);" style="pointer-events:none;">PAY FOR @item.PaymentTermId MONTHS</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            }




                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group-input">
                            @using (Html.BeginForm("SaveEndorsementSummaryDetails", "Account"))
                            {
                                <div id="contact-form" class="contact-form">
                                    @Html.HiddenFor(m => m.PaymentTermId)
                                    @Html.HiddenFor(m => m.Id)
                                    <div class="row">

                                        <div class="col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Amount Due", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control", @autocomplete = "off", @placeholder = "Amount Paid", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(m => m.AmountPaid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-md-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Total Premium", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.TotalPremium, null, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Premium / Total vehicle Licence Cost", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Total Sum Insured", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.TotalSumInsured, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Sum Insured", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Total Stamp Duty", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.TotalStampDuty, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Stamp Duty", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Total ZTSC Levies", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.TotalZTSCLevies, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total ZTSC Levies", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Total Radio License Cost", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.TotalRadioLicenseCost, new { @class = "form-control", @autocomplete = "off", @placeholder = "Total Radio Licence Cost", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Debit Note", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.DebitNote, new { @class = "form-control", @autocomplete = "off", @placeholder = "Debit Note/Invoice Number", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.ExcessBuyBackAmount, new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.ExcessBuyBackAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Excess Buy Back Amount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.MedicalExpensesAmount, new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.MedicalExpensesAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Medical Expenses Amount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.PassengerAccidentCoverAmount, new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.PassengerAccidentCoverAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Passenger Accident Cover Amount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.RoadsideAssistanceAmount, new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.RoadsideAssistanceAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Roadside Assistance Amount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Excess Amount", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.ExcessAmount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Excess Amount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.Label("Discount", new { @class = "gender-label" })
                                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @autocomplete = "off", @placeholder = "Discount", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>



                                    @*<div class="row">
                                        <div class="col-sm-6 col-md-6 form-group-select">
                                            <div class="form-group">
                                                @Html.Label("Payment Type", new { @class = "gender-label" })
                                              

                                                @Html.HiddenFor(m => m.PaymentMethodId)
                                                @Html.HiddenFor(m => m.Id)
                                                @Html.HiddenFor(m => m.CustomSumarryDetilId)

                                                <div class="payment-card">
                                                    <ul class="list-inline">
                                                        <li id="payment_1" class="payment_type active" onclick="PaymentMethod(1)">  Cash   </li>
                                                        <li id="payment_2" class="payment_type" onclick="PaymentMethod(2)"><img src="~/Images/master-card.png" /></li>
                                                        <li id="payment_3" class="payment_type" onclick="PaymentMethod(3)"><img src="~/Images/Paynow-logo.png" /></li>
                                                    </ul>
                                                </div>



                                            </div>
                                        </div>
                                    </div>*@




                                    <div class="row">
                                        <div class="col-md-12 next-btn">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="text-left">

                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="text-right">
                                                        <div><button type="submit" class="btn">Submit</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        var selectedPaymentCheckboxId =  '@Model.PaymentMethodId';
        debugger;
        if (selectedPaymentCheckboxId != null) {
            $(".payment_type").removeClass("active");
            $("#payment_" + selectedPaymentCheckboxId).addClass("active");
        }
    })
</script>
