@model InsuranceClaim.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "../Shared/_InsuranceMain.cshtml";
}


<div class="container">

    @if (ViewBag.UserDoesnotExists == 1)
    {
        <script>
            $(function () {

                toastr.error("This Email is not registred with us. Please enter a valid email !!");

            });
        </script>
        @*<label>User Does Not Exists</label>*@
    }


    <div class="row">
        <div class="col-md-12">
            <div class="login-block">
                <section id="loginForm">
                    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <h4>Please Enter your Email</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="login-sbt-btn">
                                    <input type="submit" value="submit" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    }
                </section>
            </div>
        </div>

    </div>
</div>