@using Insurance.Service;
@model InsuranceClaim.Models.ListPolicy
@{
    ViewBag.Title = "Policy List";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Policy List</h2>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                    <div class="text-right">
                        <form>
                            <input class="btn btn-primary" type="button" value="Add" onclick="window.location.href='@Url.Action("Index", "CustomerRegistration")'" />
                        </form>
                    </div>
                </div*@
        </div>
        <br />
        <br />
        @using (Html.BeginForm("SearchPolicy", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="row">
                <div class="col-md-12 next-btn">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="text-left">
                                @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Policy Number / Customer Name / Registration Number" })
                            </div>
                        </div>
                        @*<div class="col-sm-4 col-md-4">
                                <div class="text-left">
                                    @Html.TextBox("Customer Name", null, new { @class = "form-control", @placeholder = "Customer Name" })

                                </div>
                            </div>*@
                        <div class="col-sm-3 col-md-3">
                        </div>
                        <div class="col-sm-5 col-md-5">
                            <div class="text-left search-btn">
                                <button type="submit" class="btn btn-success">Search</button>
                                <button type="button" onclick="removeSearchBoxText();" class="btn btn-danger">Clear Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        <br />
        <div class="policy-table-grid-main">
            <table class="table table-striped">
                @*<thead>
                        <tr>
                            <th>Role Name</th>

                            <th class="action-th">Action</th>
                        </tr>
                    </thead>*@
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.listpolicy.Count == 0)
                        {
                            <label>No Policies Found</label>
                        }
                    }
                    @foreach (var item in Model.listpolicy.ToList())
                    {

                        <tr class="policyheading-tr">
                            <th>Policy Number</th>
                            <th>Customer Name</th>
                            <th>Payment Method</th>
                            <th>Total Sum Insured</th>
                            <th>Total Premium</th>
                            <th>Created On</th>
                            <th>Action(s)</th>
                        </tr>
                        <tr class="policynumber-tr">
                            <td>@item.PolicyNumber</td>
                            @*<td>@MiscellaneousService.GetCustomerNamebyID(item.CustomerId)</td>*@
                            <td>@item.CustomerName</td>
                            @*<td>@MiscellaneousService.GetPaymentMethodNamebyID(item.PaymentMethodId)</td>*@
                            <td>@item.PaymentMethod </td>
                            <td>@item.TotalSumInsured</td>
                            <td>@item.TotalPremium</td>
                            <td>@item.createdOn.ToString("dd-MMM-yyyy")</td>
                            @*<td>@Html.ActionLink("View Policy", "RiskDetail", "Account", new { id = item.SummaryId }, new { @class = "btn-sm btn-primary" })</td>*@
                            <td>
                                <div class="tbl-btn-list">
                                    <ul class="list-inline">
                                        <li>@Html.ActionLink("View Policy", "RiskDetail", "Account", new { id = item.SummaryId }, new { @class = "btn-sm btn-primary" })</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <table class="policy-table-grid policyList" style="width:100%">
                                    <tr>
                                        <th>Registration No</th>
                                        <th>Vehicle</th>
                                        <th>Currency</th>
                                        <th>Sum Insured</th>
                                        <th>Auto-Fac Sum Insured</th>
                                        <th>AutoFac Premium</th>
                                        <th>Fac Sum Insured</th>
                                        <th>Fac Premium</th>
                                        @*<th>Reinsurance Broker</th>*@
                                        <th>Reinsurance Broker Commission</th>
                                        <th>Facultative Commission</th>
                                        <th>Status</th>
                                        <th colspan="3">Actions(s)</th>
                                    </tr>
                                    @foreach (var _item in item.Vehicles)
                                    {
                                        <tr>
                                            <td>@_item.RegistrationNo</td>
                                            @*<td>@MiscellaneousService.GetMakeNamebyMakeCode(_item.MakeId)/@MiscellaneousService.GetModelNamebyModelCode(_item.ModelId)</td>*@
                                            <td>@_item.Make/@_item.Model</td>
                                            <td>@_item.currency</td>
                                            <td>@_item.SumInsured</td>
                                            <td>@_item.AutoFacReinsuranceAmount</td>
                                            <td>@_item.AutoFacPremium</td>
                                            <td>@_item.FacReinsuranceAmount</td>
                                            <td>@_item.FacPremium</td>
                                            <td>@_item.BrokerCommission</td>
                                            <td>@_item.FacultativeCommission</td>
                                            @if (_item.isLapsed && _item.isActive == false)
                                            {
                                                <td>Renewed</td>
                                                <td class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</td>

                                            }
                                            else if (!_item.isActive)
                                            {
                                                <td>Disabled</td>
                                                <td colspan="3">
                                               <div class="tbl-btn-list">
                                                   <ul class="list-inline">
                                                       <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="ActivateVehicle('@_item.VehicleId')">Activate</button></li>
                                                       <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</li>
                                                       <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@_item.VehicleId)">Resend Policy </a></li>
                                                   </ul>
                                               </div>
                                            </td>
                                                
                                            }
                                            else if (DateTime.Now < _item.RenewalDate.AddMonths(-2))
                                            {
                                                <td>In Force</td>
                                                <td colspan="3">
                                                    <div class="tbl-btn-list">
                                                        <ul class="list-inline">
                                                            <li class="btn-width-auto"><button onclick="disableVehicle('@_item.VehicleId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                            <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId');">View/Upload Document</button></li>
                                                            <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</li>
                                                            <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@_item.VehicleId)">Resend Policy </a></li>
                                                        </ul>
                                                    </div>

                                                </td>
                                            }
                                            else if (DateTime.Now >= _item.RenewalDate.AddMonths(-2) && DateTime.Now <= _item.RenewalDate) // else if (DateTime.Now >= _item.RenewalDate.AddDays(-21) && DateTime.Now <= _item.RenewalDate)
                                            {
                                                <td class="btn-width-auto"> @Html.ActionLink("Renew", "Index", "Renew", new { vehicleid = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li class="btn-width-auto"><button onclick="disableVehicle('@_item.VehicleId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                        <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId');">View/Upload Document</button></li>
                                                        <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</li>
                                                        <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@_item.VehicleId)">Resend Policy </a></li>
                                                    </ul>
                                                </td>

                                            }
                                            else if (DateTime.Now > _item.RenewalDate)
                                            {
                                                <td>Lapsed</td>
                                                <td class="btn-width-auto"> @Html.ActionLink("Renew", "Index", "Renew", new { vehicleid = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</td>

                                                <td colspan="2">
                                                    <ul class="list-inline">                                        
                                                        <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId');">View/Upload Document</button></li>
                                                        <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = _item.VehicleId }, new { @class = "btn-sm btn-primary" })</li>                                                   
                                                    </ul>
                                                </td>

                                            }

                                            @*<td>View Policy</td>*@

                                            @*else if (DateTime.Now < _item.enddate)
                                                {
                                                    <td>In Force</td>
                                                    <td>
                                                        <div class="tbl-btn-list">
                                                            <ul class="list-inline">
                                                                <li><button onclick="disableVehicle('@_item.VehicleId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                                <li><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@_item.VehicleId');">View/Upload Document</button></li>
                                                            </ul>
                                                        </div>

                                                    </td>
                                                }
                                                else if (DateTime.Now >= _item.enddate && DateTime.Now <= _item.enddate.AddDays(30))
                                                {
                                                    <td>Renew</td>

                                                }
                                                else if (DateTime.Now >= _item.enddate.AddDays(30))
                                                {
                                                    <td>Lapsed</td>
                                                }*@

                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>



            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="mymodals" role="dialog">
    @*@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label>Document List</label>
            </div>
            <div class="modal-body">
                <div class="tblfilelisting-grid">
                    <table id="tblfileListing" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:100px;">Title</th>
                                <th>Description</th>
                                <th style="width:100px;">Action(s)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <ul id="fileListUL"></ul>
                </div>
                <div>
                    <table style="width:100%">
                        <tr>
                            <td style="padding: 6px;">Title</td>
                            <td style="padding: 6px;"><input class="form-control" id="txt" type="text" name="Textbox" /></td>

                        </tr>
                        <tr>
                            <td class="label-top" style="padding: 6px;">Description</td>
                            <td class="resize-none" style="padding: 6px;"><textarea class="form-control" id="tarea" name="message" rows="2" cols="20"></textarea></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px;">File</td>
                            <td style="padding: 6px;"><input type="file" id="file_Uploader" accept=".doc,.docx,.xml,.PDF,.XLSX," /></td>
                        </tr>
                    </table>

                </div>
                <div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" id="documnet" value="Upload" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    @Html.Hidden("PolicyNumber")
    @Html.Hidden("CustomerId")
    @Html.Hidden("vehicleId")
</div>
<script>

    function uploadFile() {
        debugger;

        if ($("#txt").val() == "") {
            toastr.error("No Title selected");
            return false;
        }
        if (document.getElementById("file_Uploader").files.length == 0) {
            //alert("No files selected");
            toastr.error("No files selected");


            return false;
        }
        else {
            if (window.FormData !== undefined) {
                debugger;
                var fileUpload = $("#file_Uploader").get(0);
                var files = fileUpload.files;
                var Filedata = new FormData();

                for (var i = 0; i < files.length; i++) {
                    Filedata.append(files[i].name, files[i]);
                }

                Filedata.append("PolicyNumber", $("#PolicyNumber").val());
                Filedata.append("CustomerId", $("#CustomerId").val());
                Filedata.append("vehicleId", $("#vehicleId").val());
                Filedata.append("Title", $("#txt").val());
                Filedata.append("Description", $("#tarea").val());



                $.ajax({
                    url: '/Account/UploadFile',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: Filedata,
                    success: function (result) {
                        //alert(result);

                        $("#txt").val("");
                        $("#tarea").val("");
                        $("#file_Uploader").val('')

                        toastr.success(result);

                        getFiles();



                    },
                    error: function (err) {
                        toastr.error(err.statusText);
                    }
                });
            }
            else {
                //alert("FormData is not supported.");
            }
        }
    }

    $(document).ready(function () {
        $("#tblfileListing").hide();
        $("#documnet").click(function () {
            debugger;
            uploadFile();
        })
    })

    function showPopupp(PolicyNumber, CustomerId, vehicleId) {
        debugger;
        $("#PolicyNumber").val(PolicyNumber);
        $("#CustomerId").val(CustomerId);
        $("#vehicleId").val(vehicleId);

        getFiles();

        $("#txt").val("");
        $("#tarea").val("");
        $("#file_Uploader").val('')

        $("#mymodals").modal("show");
    };

    function disableVehicle(VehicleId) {

        $.ajax({

            url: '/Account/DisablePolicy',
            type: "GET",
            data: { VehicleId: VehicleId },
            success: function (result) {
                if (result) {
                    toastr.success("Vehicle De-Activated Successfully !!");
                    location.href = location.href;
                }
                else {
                    toastr.error("Unable To De-Activate, Please Try Again !!");
                }
            }
        });

    }

    function ActivateVehicle(VehicleId) {

        $.ajax({

            url: '/Account/ActivateVehicle',
            type: "GET",
            data: { VehicleId: VehicleId },
            success: function (result) {
                if (result) {
                    toastr.success("Vehicle Activated Successfully !!");
                    location.href = location.href;
                }
                else {
                    toastr.error("Unable To Activate, Please Try Again !!");
                }
            }
        });

    }

    function getFiles() {

        var Filedata = new FormData();
        Filedata.append("PolicyNumber", $("#PolicyNumber").val());
        Filedata.append("CustomerId", $("#CustomerId").val());
        Filedata.append("vehicleId", $("#vehicleId").val());

        $("#tblfileListing tbody").empty();
        $.ajax({

            url: '/Account/GetUplodedFiles',
            type: "POST",
            contentType: false,
            processData: false,
            data: Filedata,
            success: function (result) {
                debugger;
                $("#tblfileListing").show();
                for (var i = 0; i < result.length; i++) {
                    $("#tblfileListing tbody").append('<tr><td>' + result[i].Title + '</td><td>' + result[i].Decription + '</td><td><a href="' + result[i].FilePath + '" class = "glyphicon glyphicon-download-alt"></a> </td></tr>');
                }
                if (result.length == 0) {
                    $("#tblfileListing tbody").append('<tr><td colspan=3> Records not found</td></tr>');
                    toastr.error("Records not found");
                }
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });
    }

    function removeSearchBoxText() {
        window.location.href = "/Account/PolicyList";

    }

    function DeleteConfirm(docid) {
        debugger;
        if (confirm("Are You Sure Delete This File")) {

            var Filedata = new FormData();
            Filedata.append("docid", docid);

            $.ajax({
                url: '/Account/DeleteDocument',
                type: "POST",
                contentType: false,
                processData: false,
                data: Filedata,
                success: function (result) {
                    if (result) {
                        toastr.success("File Deleted Successfully");
                    }
                    else {
                        toastr.error("File was not Deleted. Please Try Again !!");
                    }
                    getFiles();

                },
                error: function (err) {
                    toastr.error(err.statusText);
                }
            });

        }
        return false;
    }


    //29JanRensedEmail

    function RsendPolicys(vehicleId) {
        debugger;
        $(".loading-area").show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("RenewResendPolicy", "Account")",
            data: "{ 'vehicleId': '" + vehicleId + "'}",
            dataType: "json",
            success: function (Result) {
                debugger;
                $(".loading-area").hide();
                alert("Mail has been sent sucessfully.");
            },
            error: function (Result) {
                $(".loading-area").hide();
                alert("Error");
            }
        });
    }

</script>
