@model IEnumerable<InsuranceClaim.Models.PolicyListViewModel>

@{
    ViewBag.Title = "PolicyManagement";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>PolicyManagement</h2>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                    <div class="text-right">
                        <form>
                            <input class="btn btn-primary" type="button" value="Add" onclick="window.location.href='@Url.Action("Index", "CustomerRegistration")'" />
                        </form>
                    </div>
                </div*@
        </div>

        <br />
        <br />
        @using (Html.BeginForm("SearchPolicy", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="row">
                <div class="col-md-12 next-btn">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="text-left">
                                @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Policy Number / Customer Name / Registration Number" })
                            </div>
                        </div>
                        @*<div class="col-sm-4 col-md-4">
                                <div class="text-left">
                                    @Html.TextBox("Customer Name", null, new { @class = "form-control", @placeholder = "Customer Name" })

                                </div>
                            </div>*@

                        <div class="col-sm-3 col-md-3">
                        </div>
                        <div class="col-sm-5 col-md-5">
                            <div class="text-left search-btn">
                                <button type="submit" class="btn btn-success">Search</button>
                                <button type="button" onclick="removeSearchBoxText();" class="btn btn-danger">Clear Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        <br />
        <div class="policy-table-grid-main">


            <table class="table table-striped">
                <tr class="policyheading-tr">
                    <th>
                        Policy Number
                    </th>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Total Sum Insured
                    </th>
                    <th>
                        Total Premium
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action(s)
                    </th>
                </tr>


                <tbody>

                    @{

                        string policyNumber = "";

                        foreach (var item in Model)
                        {
                            if (item.PolicyNumber != policyNumber)
                            {
                                <tr class="policynumber-tr">
                                    <td>@item.PolicyNumber</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.PaymentMethod</td>
                                    <td>@item.TotalSumInsured</td>
                                    <td>@item.TotalPremium</td>
                                    <td>@item.createdOn.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        @item.PaymentStatus
                                    </td>
                                    <td>
                                        <div class="tbl-btn-list">
                                            <ul class="list-inline">
                                                <li>@Html.ActionLink("View Policy", "RiskDetail", "Account", new { id = item.SummaryId }, new { @class = "btn-sm btn-primary" })</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }



                            policyNumber = item.PolicyNumber;

                            <tr>
                                <td colspan="8">
                                    <table class="policy-table-grid policyList" style="width:100%">
                                        <tr>
                                            <th>Registration No   </th>
                                            <th> Vehicle  </th>
                                            <th> Currency  </th>
                                            <th> Sum Insured  </th>
                                            <th> Auto-Fac Sum Insured  </th>
                                            <th> AutoFac Premium  </th>
                                            <th> Fac Premium  </th>
                                            <th> Reinsurance Broker Commission  </th>
                                            <th> Facultative Commission </th>
                                            <th>Status </th>
                                            <th colspan="3">Actions(s) </th>
                                        </tr>

                                        <tr>
                                            <td>@item.RegisterationNumber </td>
                                            <td>@item.Make @item.Model </td>
                                            <td>  @item.Currency </td>
                                            <td>@item.VehicleSumInsured </td>
                                            <td>@item.AutoFacReinsuranceAmount</td>
                                            <td>@item.AutoFacPremium</td>
                                            <td>@item.FacReinsuranceAmount</td>
                                            <td>@item.FacPremium</td>
                                            <td>@item.BrokerCommission</td>
                                            <td>@item.FacultativeCommission</td>

                                            @if (User.IsInRole("Claim") || User.IsInRole("Finance"))
                                            {
                                                <td></td>
                                                <td>
                                                    <div class="tbl-btn-list">
                                                        <ul class="list-inline">
                                                            <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@item.VehicleDetailId');">View/Upload Document</button></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            }
                                            else if (item.isLapsed && item.IsActive == false)
                                            {
                                                <td>Renewed</td>

                                                <td colspan="3">
                                                    <div class="tbl-btn-list">
                                                        <ul class="list-inline">

                                                            @if (User.IsInRole("Administrator"))
                                                            {
                                                                <li class="btn-width-auto"><button onclick="disableVehicle('@item.VehicleDetailId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                            }

                                                            <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@item.VehicleDetailId');">View/Upload Document</button></li>
                                                            <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</li>
                                                            <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@item.VehicleDetailId)">Resend Policy </a></li>
                                                        </ul>
                                                    </div>
                                                </td>





                                            }
                                            else if (!item.IsActive)
                                            {
                                                <td>Disabled</td>
                                                <td colspan="3">
                                                    <div class="tbl-btn-list">
                                                        <ul class="list-inline">
                                                            <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="ActivateVehicle('@item.VehicleDetailId')">Activate</button></li>
                                                            <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</li>
                                                            <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@item.VehicleDetailId)">Resend Policy </a></li>
                                                        </ul>
                                                    </div>
                                                </td>

                                            }
                                            else if (DateTime.Now < Convert.ToDateTime(item.RenewalDate).AddMonths(-2))
                                            {
                                                <td>In Force</td>
                                                <td colspan="3">
                                                    <div class="tbl-btn-list">
                                                        <ul class="list-inline">

                                                            @if (User.IsInRole("Administrator"))
                                                            {
                                                                <li class="btn-width-auto"><button onclick="disableVehicle('@item.VehicleDetailId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                            }

                                                            <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@item.VehicleDetailId');">View/Upload Document</button></li>
                                                            <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</li>
                                                            <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@item.VehicleDetailId)">Resend Policy </a></li>
                                                        </ul>
                                                    </div>

                                                </td>
                                            }
                                            else if (DateTime.Now >= Convert.ToDateTime(item.RenewalDate).AddMonths(-2) && DateTime.Now <= Convert.ToDateTime(item.RenewalDate)) // else if (DateTime.Now >= _item.RenewalDate.AddDays(-21) && DateTime.Now <= _item.RenewalDate)
                                            {
                                                <td class="btn-width-auto"> @Html.ActionLink("Renew", "Index", "Renew", new { vehicleid = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</td>
                                                <td>
                                                    <ul class="list-inline">
                                                        @if (User.IsInRole("Administrator"))
                                                        {
                                                            <li class="btn-width-auto"><button onclick="disableVehicle('@item.VehicleDetailId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                        }

                                                        <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@item.VehicleDetailId');">View/Upload Document</button></li>
                                                        <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</li>
                                                        <li class="btn-width-auto"><a href="javascript:void(0)" class="btn-sm btn-primary" onclick="RsendPolicys(@item.VehicleDetailId)">Resend Policy </a></li>
                                                    </ul>
                                                </td>

                                            }
                                            else if (DateTime.Now > Convert.ToDateTime(item.RenewalDate))
                                            {
                                                <td>Lapsed</td>
                                                <td class="btn-width-auto"> @Html.ActionLink("Renew", "Index", "Renew", new { vehicleid = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</td>
                                                <td colspan="2">
                                                    <ul class="list-inline">

                                                        @if (User.IsInRole("Administrator"))
                                                        {
                                                            <li class="btn-width-auto"><button onclick="disableVehicle('@item.VehicleDetailId')" class="btn-sm btn-danger">Disable Policy</button></li>
                                                        }


                                                        <li class="btn-width-auto"><button type="button" class="btn-sm btn-primary" onclick="showPopupp('@item.PolicyNumber','@item.CustomerId','@item.VehicleDetailId');">View/Upload Document</button></li>
                                                        <li class="btn-width-auto">@Html.ActionLink("View RenewPolicy", "customeRenew", "Renew", new { renewvehicle = item.VehicleDetailId }, new { @class = "btn-sm btn-primary" })</li>
                                                    </ul>

                                                </td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>



        </div>
    </div>
</div>



<div class="modal fade" id="mymodals" role="dialog">
    @*@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label>Document List</label>
            </div>
            <div class="modal-body">
                <div class="tblfilelisting-grid">
                    <table id="tblfileListing" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:100px;">Title</th>
                                <th>Description</th>
                                <th style="width:100px;">Action(s)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <ul id="fileListUL"></ul>
                </div>
                <div>
                    <table style="width:100%">
                        <tr>
                            <td style="padding: 6px;">Title</td>
                            <td style="padding: 6px;"><input class="form-control" id="txt" type="text" name="Textbox" /></td>

                        </tr>
                        <tr>
                            <td class="label-top" style="padding: 6px;">Description</td>
                            <td class="resize-none" style="padding: 6px;"><textarea class="form-control" id="tarea" name="message" rows="2" cols="20"></textarea></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px;">File</td>
                            <td style="padding: 6px;"><input type="file" id="file_Uploader" accept=".doc,.docx,.xml,.PDF,.XLSX," /></td>
                        </tr>
                    </table>

                </div>
                <div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" id="documnet" value="Upload" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    @Html.Hidden("PolicyNumber")
    @Html.Hidden("CustomerId")
    @Html.Hidden("vehicleId")
</div>

<script>

    function uploadFile() {
        debugger;

        if ($("#txt").val() == "") {
            toastr.error("No Title selected");
            return false;
        }
        if (document.getElementById("file_Uploader").files.length == 0) {
            //alert("No files selected");
            toastr.error("No files selected");


            return false;
        }
        else {
            if (window.FormData !== undefined) {
                debugger;
                var fileUpload = $("#file_Uploader").get(0);
                var files = fileUpload.files;
                var Filedata = new FormData();

                for (var i = 0; i < files.length; i++) {
                    Filedata.append(files[i].name, files[i]);
                }

                Filedata.append("PolicyNumber", $("#PolicyNumber").val());
                Filedata.append("CustomerId", $("#CustomerId").val());
                Filedata.append("vehicleId", $("#vehicleId").val());
                Filedata.append("Title", $("#txt").val());
                Filedata.append("Description", $("#tarea").val());



                $.ajax({
                    url: '/Account/UploadFile',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: Filedata,
                    success: function (result) {
                        //alert(result);

                        $("#txt").val("");
                        $("#tarea").val("");
                        $("#file_Uploader").val('')

                        toastr.success(result);

                        getFiles();



                    },
                    error: function (err) {
                        toastr.error(err.statusText);
                    }
                });
            }
            else {
                //alert("FormData is not supported.");
            }
        }
    }

    $(document).ready(function () {
        $("#tblfileListing").hide();
        $("#documnet").click(function () {
            debugger;
            uploadFile();
        })
    })

    function showPopupp(PolicyNumber, CustomerId, vehicleId) {
        debugger;
        $("#PolicyNumber").val(PolicyNumber);
        $("#CustomerId").val(CustomerId);
        $("#vehicleId").val(vehicleId);

        getFiles();

        $("#txt").val("");
        $("#tarea").val("");
        $("#file_Uploader").val('')

        $("#mymodals").modal("show");
    };

    function disableVehicle(VehicleId) {

        $(".loading-area").show();

        $.ajax({
            url: '/Account/DisablePolicy',
            type: "GET",
            data: { VehicleId: VehicleId },
            success: function (result) {
                if (result) {
                    toastr.success("Vehicle De-Activated Successfully !!");

                    $(".loading-area").show();
                    setTimeout(function () {
                        $(".loading-area").hide();
                        location.reload();
                    }, 500);


                }
                else {
                    toastr.error("Unable To De-Activate, Please Try Again !!");
                }
            }
        });

    }

    function ActivateVehicle(VehicleId) {

        $.ajax({

            url: '/Account/ActivateVehicle',
            type: "GET",
            data: { VehicleId: VehicleId },
            success: function (result) {
                if (result) {
                    toastr.success("Vehicle Activated Successfully !!");
                    location.href = location.href;
                }
                else {
                    toastr.error("Unable To Activate, Please Try Again !!");
                }
            }
        });

    }

    function getFiles() {

        var Filedata = new FormData();
        Filedata.append("PolicyNumber", $("#PolicyNumber").val());
        Filedata.append("CustomerId", $("#CustomerId").val());
        Filedata.append("vehicleId", $("#vehicleId").val());

        $("#tblfileListing tbody").empty();
        $.ajax({

            url: '/Account/GetUplodedFiles',
            type: "POST",
            contentType: false,
            processData: false,
            data: Filedata,
            success: function (result) {
                debugger;
                $("#tblfileListing").show();
                for (var i = 0; i < result.length; i++) {
                    $("#tblfileListing tbody").append('<tr><td>' + result[i].Title + '</td><td>' + result[i].Decription + '</td><td><a href="' + result[i].FilePath + '" class = "glyphicon glyphicon-download-alt"></a> </td></tr>');
                }
                if (result.length == 0) {
                    $("#tblfileListing tbody").append('<tr><td colspan=3> Records not found</td></tr>');
                    toastr.error("Records not found");
                }
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });
    }

    function removeSearchBoxText() {
        window.location.href = "/Account/PolicyList";

    }

    function DeleteConfirm(docid) {
        debugger;
        if (confirm("Are You Sure Delete This File")) {

            var Filedata = new FormData();
            Filedata.append("docid", docid);

            $.ajax({
                url: '/Account/DeleteDocument',
                type: "POST",
                contentType: false,
                processData: false,
                data: Filedata,
                success: function (result) {
                    if (result) {
                        toastr.success("File Deleted Successfully");
                    }
                    else {
                        toastr.error("File was not Deleted. Please Try Again !!");
                    }
                    getFiles();

                },
                error: function (err) {
                    toastr.error(err.statusText);
                }
            });

        }
        return false;
    }


    //29JanRensedEmail

    function RsendPolicys(vehicleId) {
        debugger;
        $(".loading-area").show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("RenewResendPolicy", "Account")",
            data: "{ 'vehicleId': '" + vehicleId + "'}",
            dataType: "json",
            success: function (Result) {
                debugger;
                $(".loading-area").hide();
                alert("Mail has been sent sucessfully.");
            },
            error: function (Result) {
                $(".loading-area").hide();
                alert("Error");
            }
        });
    }

</script>