@using Insurance.Service;
@model InsuranceClaim.Models.ListPolicy
@{
    ViewBag.Title = "QuotationList";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Quotation List</h2>
                </div>
            </div>
        </div>
 
       

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="text-left">
                    @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Policy Number / Customer Name / Email" })
                </div>
            </div>
        </div>


        @if (TempData["SucessMsg"]!=null)
        {
            <br />
            <div class="alert alert-success fade in alert-dismissible" style="margin-top:18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                Quotation email has been sent successfully.
            </div>
        }
       


        <br />
        <div class="policy-table-grid-main">
            <table class="table table-striped">

                <tbody>

                    @if (Model != null)
                    {
                        if (Model.listpolicy.Count == 0)
                        {
                            <label>No Quotation Found</label>
                        }
                    }

                    <tr class="policyheading-tr">
                        <th>Policy Number</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Payment Method</th>
                        <th>Currency</th>
                        <th>Total Sum Insured</th>
                        <th>Total Premium</th>
                        <th>Created On</th>
                        <th class="action-th">Action(s)</th>
                    </tr>

                    @foreach (var item in Model.listpolicy.ToList())
                    {
                        <tr class="policynumber-tr">
                            <td>@item.PolicyNumber</td>
                            <td>@MiscellaneousService.GetCustomerNamebyID(item.CustomerId)</td>
                            <td>@item.CustomerEmail</td>
                            <td>@MiscellaneousService.GetPaymentMethodNamebyID(item.PaymentMethodId)</td>
                            <td>@item.Currency </td>
                            <td>@item.TotalSumInsured</td>
                            <td>@item.TotalPremium</td>
                            <td>@item.createdOn.ToString("dd-MM-yyyy")</td>
                            <td>
                                <div class="tbl-btn-list">
                                    <ul class="list-inline">
                                        <li>@Html.ActionLink("View", "CustomerDetials", "Account", new { id = item.SummaryId }, new { @class = "btn-sm btn-primary" })</li>
                                      
                                        <li>  <a class="btn-sm btn-primary" href="/CustomerRegistration/Index?id=@item.SummaryId"> Edit   </a>  </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>




<script type="text/javascript">

    function DeActive(summaryId)
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "CountryDetails.asmx/LoadCountry",
            data: "{}",
            dataType: "json",
            success: function (Result) {
                Result = Result.d;
                $.each(Result, function (key, value) {
                    $("#ddlcountry").append($("<option></option>").val
                    (value.CountryId).html(value.CountryName));
                });
                // Another way of writing
                //  for (var i = 0; i < Result.length; i++) {
                // $("#ddlcountry").append("<option value=" + Result[i].ID + ">" + 
                //     Result[i].Name + "</option>");
                //  }

                // One more way of writing
                // for (var i in Result) {
                //  $("#ddlcountry").append($("<option></option>").val(Result[i].ID).
                //   text(Result[i].Name));
                //  }

            },
            error: function (Result) {
                alert("Error");
            }
        });
    }


    $(document).ready(function () {
        $("#searchText").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table>tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>

