@model InsuranceClaim.Models.AgentCommissionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Add Commission</h4>
                        </div>
                        <div class="form-group-input">
                            @*@using (Ajax.BeginForm("SaveCustomerData", "CustomerRegistration", new AjaxOptions { UpdateTargetId = "CustomerResult", OnSuccess = "GoToProductDetail" }))*@
                            @using (Html.BeginForm("CommissionSave", "Commission", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.HiddenFor(x => x.Id)

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.CommissionName, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.CommissionName, new { @class = "form-control", @name = "CommissionName", @autocomplete = "off", @id = "CommissionName", @placeholder = "Enter Commission Name" })
                                            @Html.ValidationMessageFor(x => x.CommissionName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.CommissionAmount, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.CommissionAmount, new { @class = "form-control", @name = "CommissionAmount", @autocomplete = "off", @id = "InsurerCode", @placeholder = "Enter Commission Amount" })
                                            @Html.ValidationMessageFor(x => x.CommissionAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ManagementCommission, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ManagementCommission, new { @class = "form-control", @name = "ManagementCommission", @autocomplete = "off", @id = "ManagementCommission", @placeholder = "Enter Management Commission" })
                                            @Html.ValidationMessageFor(x => x.ManagementCommission, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("CommissionList", "Commission")'">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>