@model InsuranceClaim.Models.LicenseModel
@{
    ViewBag.Title = "CertificateSerialNumber";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


<div class="body-content-section">
    <div class="container">
        <div class="form-group-section">

            @if (TempData["SuccMsg"] != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["SuccMsg"]</strong> .
                </div>
            }


            @if (TempData["ErroMsg"] != null)
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["ErroMsg"]</strong> .
                </div>
            }


            <div class="form-title"><h2>CertificateSerialNumber</h2></div>

            @using (Html.BeginForm("CertificateSerialNumber", "CustomerRegistration", new { @class = "form-horizontal", role = "form" }))
            {

                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group-text">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SerialNumber, new { @class = "gender-label" })
                            @Html.TextBoxFor(x => x.SerialNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "SerialNumber" })
                            @Html.ValidationMessageFor(x => x.SerialNumber, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.VehicleId)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 next-btn">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="text-left">
                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("ThankYou","Paypal")'">Cancel</button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="text-right">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div id="pdfTag">
                    <a id="lnkFile" href="">If you didn't get pdf file then click here to download licens pdf</a>
                </div>
            </div>


        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.FilePath' != null && '@Model.FilePath' != '') {
            $("#pdfTag").show();
            $("#lnkFile").attr("href", "@Model.FilePath");
            window.open('@Model.FilePath', '_blank');
        }

        $("#SerialNumber").focus();
        //RemoveCookies();
    });
</script>