@model InsuranceClaim.Models.LicenseModel
@{
    ViewBag.Title = "CertificateSerialNumber";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


<div class="body-content-section">
    <div class="container">
        <div class="form-group-section">

            @if (TempData["SuccMsg"] != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["SuccMsg"]</strong> .
                </div>
            }


            @if (TempData["ErroMsg"] != null)
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["ErroMsg"]</strong> .
                </div>
            }


            <div class="form-title"><h2>CertificateSerialNumber</h2></div>

            @using (Html.BeginForm("CertificateSerialNumber", "CustomerRegistration", new { @class = "form-horizontal", role = "form" }))
            {

                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group-text">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SerialNumber, new { @class = "gender-label" })
                            @Html.TextBoxFor(x => x.SerialNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "SerialNumber" })
                            @Html.ValidationMessageFor(x => x.SerialNumber, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.VehicleId)
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 col-md-12 next-btn">
                        <div class="text-left">
                            <ul>
                                <li class="pull-right"><button type="submit" class="btn">Submit</button></li>
                            </ul>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $("#SerialNumber").focus();
    });

</script>