@model InsuranceClaim.Models.LicenseModel
@{
    ViewBag.Title = "LicensePrint";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}



<div class="body-content-section">
    <div class="container">
        <div class="form-group-section">

            <div class="form-title"><h2>License Print</h2></div>

            @using (Html.BeginForm("LicensePrint", "CustomerRegistration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                if (TempData["Message"] != null)
                {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@TempData["Message"]</strong> .
            </div>
                }


                if (TempData["ErroMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["ErroMessage"]</strong> .
                    </div>
                }

            <div class="row">
                <div class="col-sm-6 col-md-6 form-group-text">
                    <div class="form-group">
                        @Html.LabelFor(x => x.VRN, new { @class = "gender-label" })
                        @Html.TextBoxFor(x => x.VRN, new { @class = "form-control", @name = "CityName", @autocomplete = "off", @placeholder = "VRN" })
                        @Html.ValidationMessageFor(x => x.VRN, "", new { @class = "text-danger" })

                       @Html.HiddenFor(x=>x.VehicleId)


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-12 next-btn">
                    <div class="text-left">
                        <ul>
                            <li class="pull-right"><button type="submit" class="btn">Print</button></li>
                        </ul>
                    </div>
                </div>

            </div>

            }


        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        if ('@Model.FilePath' != '') {
            window.open('@Model.FilePath', '_blank');    
            
            var url = '@System.Configuration.ConfigurationManager.AppSettings["urlPath"]/CustomerRegistration/CertificateSerialNumber?VehicleId=' + '@Model.VehicleId';
            window.setTimeout(function () {
                window.location.href = url;           
            }, 2000);
        }
    });

</script>








